/*~
 *	Heading Mixin
 *
 *	Usage: @include heading(size, weight, color);
~*/

@mixin heading($size, $weight: normal, $color: $lynn-gray) {
	@extend %heading !optional;

	color: $color;
	font-size: $size;
	font-weight: $weight;
}
