/*--------------------*\
	HEADING MIXIN
\*--------------------*/

/*
 *	Heading
 *	Usage: @include heading(size, weight, color);
 */
@mixin heading($size, $weight: normal, $color: $lynn-gray) {
	@extend %heading;

	color: $color;
	font-size: $size;
	font-weight: $weight;
}
