/*~ Inverted mixins ~*/

/*~
 *	Single color inversion
 *	Usage: @include inverted(background, text color, hover background);
~*/
@mixin inverted($bg: $inverted-default-bg, $color: $white, $hover: $inverted-default-hover) {
 	background-color: $bg;

 	@if $bg == $inverted-default-bg or $color != $white {
		color: $color;

		a {
			color: $color;
		}
	}

	&.hasHover:hover {
		background-color: $hover
	}
}

/*~
 *	All inverted classes
 *	Usage: @include inverted-all;
~*/
@mixin inverted-all {
 	@each $key in map_keys($inverted-color-map) {
		@if $key == "default" {
			@extend %inverted !optional;
		}

		@else {
			&.#{$key} {
				@extend %inverted-#{$key} !optional;
			}
		}
	}
}
