/*
 *	card_news
 *
 *	News specific layout and style options for cards
 *
 */

$datestamp-width: $space * 9;

.card_news {
    &.card_priority_1 {
        .card-content {
            border: none;
            max-width: none;
            overflow: visible;
        }

        .card-image {
            border: {
                color: $lynn-gray-30;
                style: solid;
                width: 7px;
            }
            display: inline-block;

            img {
                border: {
                    color: $white;
                    style: solid;
                    width: 5px;
                }
            }

            @include bp-max($bp-l) {
                margin: $space-triple calc((#{$space} + 4%) * -1) 0;
            }

            @include bp-min($bp-l) {
                float: left;
                margin-left: $datestamp-width;
                width: calc(100% - #{$datestamp-width});
            }
        }

        .card-details {
            clear: both;
            padding: $pad-half;
            position: initial;

            @include bp-min($bp-l) {
                margin-left: $datestamp-width;
            }
        }

        .card-dateline {
            position: absolute;
            top: 0;

            @include bp-min($bp-l) {
                left: -#{$space};
                padding: 0 $pad;
                width: $datestamp-width;
            }
        }
        
        .date-m,
        .date-d {
            color: $lynn-gray-60;
            font-size: $font-size-xxl;
            line-height: $line-height-less;

            @include bp-min($bp-l) {
                display: block;
                text-align: center;
            }
        }

        .date-m {
            @include bp-min($bp-l) {
                font-size: $font-size-xxl;
            }
        }

        .date-d {
            @include bp-min($bp-l) {
                font-size: $font-size-jumbo;
            }
        }
    }
}
