/*
 *	card-thumb
 *
 *	Left or right aligned thumbnail cards
 *
 */

.card_thumb {
    max-width: $w-m;

    .card-content {
        border-width: 7px;
    }

    .card-image {
        border: {
            color: $white;
            style: solid;
            width: 5px;
        }
    }

    .card-details {
        background-color: rgba($white, .85);
        height: 5.75em;
        padding: $pad;
        width: $w-pct-full;

        @include bp-min($bp-s) {
            position: absolute;
            bottom: 0;
        }
    }

    .headline {
        font-size: $font-size-base;
        height: $line-height-less * 2em;
        overflow: hidden;
        position: relative;

        a {
            color: $lynn-gray;

            &:hover {
                color: $lynn-blue;
            }
        }

        @include bp-min($bp-s) {
            font-weight: 600;
        }
    }

    .card-dateline {
        color: $lynn-blue;
        font-size: $font-size-s;
    }
}

.flexbox .card_thumb {
    .card-details {
        flex-direction: column;

        @include flexbox;
    }

    .card-text {
        @include order(2);
    }
}

.g-3up .card_thumb {
    .headline {
        @include bp-min($bp-l) {
            font-weight: normal;
        }

        @include bp-min($bp-xl) {
            font-weight: 600;
        }
    }
}