<form action="{{ url }}" name="searchform" class="inline-form search-form">
    <fieldset class="livesearch">
        <legend class="is-vishidden">Search</legend>
        <label for="search-field" class="is-vishidden">Search</label>
        <input type="search" placeholder="Search site" id="search-field" class="search-field" />
        <button class="button">
            <span class="icon-search" aria-hidden="true"></span>
            <span class="">Search</span>
        </button>
    </fieldset>
</form>
