
		<!--DO NOT REMOVE-->
		{% pattern-lab-foot %}
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/main.min.js"></script>
		<script src="//localhost:35729/livereload.js"></script>
	</body>
</html>
