
		<!--DO NOT REMOVE-->
		{% pattern-lab-foot %}
		<script src="../../js/dist/min/jquery-2.0.0b2.min.js"></script>
		<script src="../../js/dist/min/lynn-patternlab.min.js"></script>
		<!-- @exclude -->
        <script src="//localhost:35729/livereload.js"></script>
        <!-- @endexclude -->
	</body>
</html>
