<div class="{{ css-prefix }}l-container--xl {{ css-prefix }}l-container--center">
    {{> molecules-breadcrumbs }}
</div>

<div class="{{ css-prefix }}panel">
    <div class="{{ css-prefix }}panel__content">
    {{# colleges }}
        {{> molecules-media }}
    {{/ colleges }}
    </div>
</div>


{{> organisms-next-step }}
