/* A simple navigation block */
.block_nav {
	.block-link {
		padding: $space-double;
		min-height: 21em;
	}
}

/* Mobile labels */
.label-tone {
	@include bp-max($bp-m) {
		content: "Tone of voice";
		font-weight: 600;
	}
}

.label-visual {
	@include bp-max($bp-m) {
		content: "Visual translation";
		font-weight: 600;
	}
}


/* Color swatches */
// Style Guide color swatches
.sg-colors {
	margin-bottom: 1em !important;
	overflow: hidden !important;

	li {
		overflow: hidden !important;
		border: none !important;
		margin: 0 0 $space 0 !important;
		padding: 0 !important;

		@include bp-max($bp-s) {
			display: block !important;
			width: 100% !important;
		}

		@include bp-min($bp-s) {
			float: left !important;
			margin-right: $space !important;
			width: 9em !important;

			&:last-of-type {
				margin-right: 0 !important;
			}
		}
	}
}

.sg-swatch {
	display: block !important;
	
	@include border-radius($pad-half);

	@include bp-max(319px) {
		height: 5em !important;
		width: 100% !important;
	}

	@include bp-min(320px) {
		float: left !important;
		height: 8em !important;
		margin-right: $pad !important;
		width: 25% !important;
	}

	@include bp-min($bp-s) {
		height: 6em !important;
		margin-right: 0 !important;
		width: 100% !important;
	}
	
}

@for $i from 1 through length($color-classes){
    .sg-swatch.#{nth($color-classes, $i)} {background: nth($color-list, $i);}
}

.sg-label {
    font-size: $font-size-s;
	line-height: $line-height-least;
}