<h3>Primary colors</h3>
<ul class="sg-colors">
    <li>
		<span class="sg-swatch lynn-blue"></span>
		<span class="sg-label">
		    <strong>Lynn blue</strong><br />
		    Pantone<sup>&reg;</sup> 293<br />
		    CMYK 100.68.2.2<br />
		    rgb(0,61,165)<br />
		    #003DA5
		</span>
	</li>
    <li>
        <span class="sg-swatch lynn-gray-web"></span>
        <span class="sg-label">
            <strong>Lynn gray web</strong><br />
            Pantone<sup>&reg;</sup> Cool Gray 10<br />
            <br />
            rgb(99,102,106)<br />
            #63666a
        </span>
    </li>
    <li>
        <span class="sg-swatch white"></span>
        <span class="sg-label">
            <strong>White</strong><br />
            <br />
            CMYK 0.0.0.0<br />
            rgb(255,255,255)<br />
            #FFFFFF
        </span>
    </li>
</ul>
<h3>Secondary colors</h3>
<ul class="sg-colors">
    <li>
		<span class="sg-swatch secondary-blue"></span>
		<span class="sg-label">
		    Pantone<sup>&reg;</sup> 636<br />
		    CMYK 39.0.7.0<br />
		    rgb(139,211,230)<br />
		    #8BD3E6
		</span>
	</li>
	<li>
        <span class="sg-swatch secondary-green"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 2284<br />
		    CMYK 33.0.60.0<br />
            rgb(179,213,125)<br />
            #B3D57D
        </span>
    </li>
    <li>
        <span class="sg-swatch secondary-orange"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 714<br />
            CMYK 0.40.59.0<br />
            rgb(253,170,99)<br />
            #FDAA63
        </span>
    </li>
</ul>
<h3>Accent colors</h3>
<ul class="sg-colors">
    <li>
		<span class="sg-swatch accent-blue"></span>
		<span class="sg-label">
		    Pantone<sup>&reg;</sup> 638<br />
		    CMYK 86.0.9.0<br />
		    rgb(0,175,215)<br />
		    #00AFD7
		</span>
	</li>
	<li>
        <span class="sg-swatch accent-green"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 368<br />
		    CMYK 65.0.100.0<br />
            rgb(120,190,32)<br />
            #78BE20
        </span>
    </li>
    <li>
        <span class="sg-swatch accent-orange"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 158<br />
            CMYK 0.62.95.0<br />
            rgb(232,119,34)<br />
            #E87722
        </span>
    </li>
</ul>
