<h3>Primary Colors</h3>
<ul class="sg-colors">
    <li>
		<span class="sg-swatch lynn-blue"></span>
		<span class="sg-label">
		    <strong>Lynn Blue</strong><br />
		    Pantone<sup>&reg;</sup> 293<br />
		    CMYK 100.66.2.2<br />
		    rgb(0,61,165)<br />
		    #003DA5
		</span>
	</li>
	<li>
        <span class="sg-swatch lynn-gray"></span>
        <span class="sg-label">
            <strong>Lynn Gray</strong><br />
            Pantone<sup>&reg;</sup> Cool Gray 9<br />
		    CMYK 30.22.17.57<br />
            rgb(117,120,123)<br />
            &nbsp;
        </span>
    </li>
    <li>
        <span class="sg-swatch lynn-gray-web"></span>
        <span class="sg-label">
            <strong>Lynn Gray Web</strong><br />
            Pantone<sup>&reg;</sup> Cool Gray 10<br />
            <br />
            rgb(99,102,106)<br />
            #63666a
        </span>
    </li>
    <li>
        <span class="sg-swatch white"></span>
        <span class="sg-label">
            <strong>White</strong><br />
            <br />
            CMYK 0.0.0.0<br />
            rgb(255,255,255)<br />
            #FFFFFF
        </span>
    </li>
</ul>
<h3>Secondary Colors</h3>
<ul class="sg-colors">
    <li>
		<span class="sg-swatch secondary-blue"></span>
		<span class="sg-label">
		    Pantone<sup>&reg;</sup> 636<br />
		    CMYK 39.0.7.0<br />
		    rgb(139,211,230)<br />
		    #8BD3E6
		</span>
	</li>
	<li>
        <span class="sg-swatch secondary-green"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 366<br />
		    CMYK 31.0.51.0<br />
            rgb(183,221,121)<br />
            #B7DD79
        </span>
    </li>
    <li>
        <span class="sg-swatch secondary-orange"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 1565<br />
            CMYK 0.39.51.0<br />
            rgb(255,160,106)<br />
            #FFA06A
        </span>
    </li>
</ul>
<h3>Accent Colors</h3>
<ul class="sg-colors">
    <li>
		<span class="sg-swatch accent-blue"></span>
		<span class="sg-label">
		    Pantone<sup>&reg;</sup> 638<br />
		    CMYK 86.0.9.0<br />
		    rgb(0,175,215)<br />
		    #00AFD7
		</span>
	</li>
	<li>
        <span class="sg-swatch accent-green"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 368<br />
		    CMYK 65.0.100.0<br />
            rgb(120,190,32)<br />
            #78BE20
        </span>
    </li>
    <li>
        <span class="sg-swatch accent-orange"></span>
        <span class="sg-label">
            Pantone<sup>&reg;</sup> 1585<br />
            CMYK 0.61.97.0<br />
            rgb(255,106,19)<br />
            #FF6A13
        </span>
    </li>
</ul>
