<p>Primary font: Helvetica, Arial, sans-serif;</p>
<p><em>Primary font italic: Helvetica, Arial, sans-serif;</em></p>
<p><strong>Primary font bold: Helvetica, Arial, sans-serif;</strong></p>
<p class="font-helveticaneue">Helvetica Neue: 'HelveticaNeueW01-55Roma', Helvetica, Arial, sans-serif;</p>
<p class="font-helveticaneue-italic">Helvetica Neue Italic: 'HelveticaNeueW01-56It', Helvetica, Arial, sans-serif;</p>
<p class="font-helveticaneue-bold">Helvetica Neue Bold: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;</p>
<p class="font-helveticaneue-thin" style="font-size: 1.5em;">Helvetica Neue Thin: 'HelveticaNeueW01-Thin', Helvetica, Arial, sans-serif;</p>
<p class="font-helveticaneue-ultlt" style="font-size: 1.5em;">Helvetica Neue Ultra Lite: 'HelveticaNeueW01-UltLt', Helvetica, Arial, sans-serif;
<p class="font-adobegaramond" style="font-size: 1.5em;">Adobe Garamond: 'AdobeGaramondW01-Regula', Helvetica, Arial, sans-serif;</p>
