<header class="article-header">
	<hgroup>
		<h2 class="h2">
			<span itemprop="name">{{ name.first }} {{ name.last }}</span>
		</h2>
		<h3 class="h6">B.S., MBA</h3>
	</hgroup>
	<div class="person-job">
		<span itemprop="jobTitle">Job Title</span>
	</div>
</header>