<div class="text">
	<p>
		Browse by department
	</p>
	<div class="g g-2up">
		<div class="gi">
			<ul>
				{{# listItems.six }}
				<li><a href="{{ url }}">Department Name</a></li>
				{{/ listItems.six }}
			</ul>
		</div>
		<div class="gi">
			<ul>
				{{# listItems.five }}
				<li><a href="{{ url }}">Department Name</a></li>
				{{/ listItems.five }}
			</ul>
		</div>
	</div>
</div>