<!-- {{> molecules-block }} // -->
<div class="block block_thumb person">
	<div class="block-inner">
        <div class="block-image">
            <img src="../../images/person-photo.gif" alt="Person Name" />
        </div>
        <div class="block-text block_padded text inverted">
        	<div class="g g-1up">
	        	<div class="gi">
		            <h3 class="h3">Contact</h3>
		            {{> molecules-contact-point }}
		        </div>
		        <div class="gi">
		        	<h3 class="h3">Office Location</h3>
	            	<div class="">Building Name</div>
	            </div>
	            <div class="gi">
	            	<a href="{{ url}}" class="icon icon-facebook"></a>
	            	<a href="{{ url}}" class="icon icon-twitter"></a>
	            </div>
	        </div>
        </div>
    </div>
</div>
<!-- // {{> molecules-block }} -->
<div class="text">
	<h3 class="h4">Department</h3>
	<p>
		<a href="{{ url }}">Department Name</a>
	</p>
	<h3 class="h3">Professional Profile</h3>
	<p>
		Aliquam ultrices cursus mauris, eget volutpat justo mattis nec. Sed a orci turpis. Aliquam aliquet placerat dui, consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, convallis et arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis dui. Vivamus egestas faucibus pulvinar. Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui.
	</p>
	<p>
		Cras at fringilla ipsum. Donec nec libero eget est blandit dignissim a eu ante. Morbi augue nulla, luctus eu sagittis vel, malesuada ut felis. Aliquam erat volutpat. Morbi malesuada augue ac massa hendrerit fermentum. Integer scelerisque lacus a dolor convallis lobortis. Curabitur mollis ante in massa ultricies dignissim.
	</p>
	<p>
		Donec posuere fringilla nunc, vitae venenatis diam scelerisque vel. Nullam vitae mauris magna. Mauris et diam quis justo volutpat tincidunt congue nec magna. Curabitur vitae orci elit. Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.
	</p>
	<h4 class="h4">Education</h4>
	<ul>
		<li>B.S., School Name</li>
		<li>MBA, School Name</li>
	</ul>
	<h4 class="h4">Teaching Philosophy</h4>
	<p>
		Aliquam ultrices cursus mauris, eget volutpat justo mattis nec. Sed a orci turpis. Aliquam aliquet placerat dui, consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, convallis et arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis dui. Vivamus egestas faucibus pulvinar. Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui.
	</p>
	<h4 class="h4">Teaching Specialties</h4>
	{{> atoms-unordered }}
	<h4 class="h4">Areas of Scholarship and Professional Practice</h4>
	{{> atoms-unordered }}
	<h4 class="h4">Awards/Honors</h4>
	<p>
		Cras at fringilla ipsum. Donec nec libero eget est blandit dignissim a eu ante. Morbi augue nulla, luctus eu sagittis vel, malesuada ut felis. Aliquam erat volutpat. Morbi malesuada augue ac massa hendrerit fermentum. Integer scelerisque lacus a dolor convallis lobortis. Curabitur mollis ante in massa ultricies dignissim.
	</p>
	<h4 class="h4">Curriculum Vitae</h4>
	<p>
		<a href="{{ url }}">curriculum-vitae.pdf</a><span class="discreet">&mdash;PDF document, 481Kb</span>
	</p>
</div>