<div id="page" class="l-page">
    {{> organisms-header }}
    
    <div role="main" class="l-two-col">
        <div class="l-main">
            <article>
                {{> organisms-article-heading }}
                {{> organisms-listing-premiere }}
                <footer>foot</footer>
            </article>
        </div>
        <div class="l-sidebar">
            SIDEBAR
        </div>
    </div>
    
    <div class="l-nav--column">
        {{> molecules-left-column-nav }}
    </div>

    {{> organisms-footer }}

</div>