<div id="page" class="l-page">
    {{> organisms-header }}
    
    <div id="midsection">
        <div role="main" class="l-two-col">
            <div class="l-main">
                <article>
                    {{> organisms-article-heading }}

                    {{# article }}
                        {{> organisms-article-body }}
                    {{/ article }}

                    {{# collection }}
                        {{> organisms-collection-subtopics }}
                    {{/ collection }}

                    {{# listing-premiere }}
                        {{> organisms-listing-premiere }}
                    {{/ listing-premiere }}
                    <footer>foot</footer>
                </article>
            </div>
            <div class="l-sidebar">
                SIDEBAR
            </div>
        </div>
        
        <div class="l-nav--column">
            {{> molecules-left-column-nav }}
        </div>
    </div>

    {{> organisms-footer }}

</div>