{{# tile }}
<div class="{{ css-prefix }}tile {{ styleModifier }}">
    <div class="{{ css-prefix }}tile__meta">
        {{> atoms-date-digits }}
    </div>

    <a href="{{ url }}" class="{{ css-prefix }}tile__title">
        {{ title }}
    </a>

    <div class="{{ css-prefix }}tile__detail">
        {{{ description }}}
    </div>    

    {{# action }}
    <div class="{{ css-prefix }}tile__action">
        {{> atoms-button }}
    </div>
    {{/ action }}
</div>
{{/ tile }}
