{{# tile }}
<div class="{{ css-prefix }}tile {{ styleModifier }}">
    {{# title }}
    {{^ titleLink }}
    <div class="{{ css-prefix }}tile__title">
        {{ title }}
    </div>
    {{/ titleLink }}
    {{# titleLink }}
    <a href="{{ url }}" class="{{ css-prefix }}tile__title">
        {{ title }}
    </a>
    {{/ titleLink }}
    {{/ title }}

    <div class="{{ css-prefix }}tile__detail">
        {{{ description }}}

        {{# testimonial }}
        <blockquote class="{{ css-prefix }}quote {{ styleModifier }}">
            <div class="{{ css-prefix }}quote__detail">{{{ quote }}}</div>
            <cite class="{{ css-prefix }}quote__source">{{{ source }}}</cite>
        </blockquote>
        {{/ testimonial }}
    </div>    

    {{# action }}
    <div class="{{ css-prefix }}tile__action">
        {{> atoms-button }}
    </div>
    {{/ action }}
</div>
{{/ tile }}
