{{# tile }}
<div class="{{ css-prefix }}tile {{ styleModifier }}">
    <div class="{{ css-prefix }}tile__action">
        {{> atoms-button }}
    </div>

    <div class="{{ css-prefix }}tile__detail">
        {{{ description }}}
    </div>

    {{# subaction }}
    <div class="{{ css-prefix }}tile__subaction">
        {{> atoms-button }}
    </div>
    {{/ subaction }}
</div>
{{/ tile }}
