{{# tile }}
<div class="{{ css-prefix }}tile {{ styleModifier }}">
    <div class="{{ css-prefix }}meta">
        {{> atoms-date-digits }}
        {{# categories.0}}
        <ul class="{{ css-prefix }}list--horizontal {{ css-prefix }}has-dividers--left">
            {{#categories}}
            <li class="{{ css-prefix }}list__item">{{ category }}</li>
            {{/categories}}
        </ul>
        {{/ categories.0}}
    </div>

    <div class="{{ css-prefix }}container">
        <a href="{{ url }}" class="{{ css-prefix }}tile__title">
            {{ title }}
        </a>

        <div class="{{ css-prefix }}tile__detail">
            {{{ description }}}
        </div>    

        {{# action }}
        <div class="{{ css-prefix }}tile__action">
            {{> atoms-button }}
        </div>
        {{/ action }}
    </div>
</div>
{{/ tile }}
