{{# tile }}
<div class="{{ css-prefix }}tile {{ styleModifier }}">
    {{# title }}
    <div class="{{ css-prefix }}tile__title {{ styleModifier }}">
        {{ title }}
    </div>
    {{/ title }}

    <div class="{{ css-prefix }}tile__detail {{ styleModifier }}">
        {{{ description }}}

        {{# testimonial }}
        <blockquote class="{{ css-prefix }}quote {{ styleModifier }}">
            <div class="{{ css-prefix }}quote__detail">{{{ quote }}}</div>
            <cite class="{{ css-prefix }}quote__source">{{{ source }}}</cite>
        </blockquote>
        {{/ testimonial }}
    </div>    

    {{# action }}
    <div class="{{ css-prefix }}tile__action {{ styleModifier }}">
        {{> atoms-button }}
    </div>
    {{/ action }}
</div>
{{/ tile }}
