{{# button }}
<a href="{{ url }}" class="{{ css-prefix }}button {{ styleModifier }}" {{# aria.popup }}aria-haspopup="true"{{/ aria.popup }} itemprop="url">
    {{# icon }}
    <span class="{{ css-prefix }}button__icon {{ styleModifier }}"> </span>
    {{/ icon }}
    <span class="{{ css-prefix }}button__text">{{ title }}</span>
</a>
{{/ button }}
