<p><a href="#" class="button" itemprop="url">Button</a></p>
<p><a href="#" class="button button-large" itemprop="url">Large Button</a></p>
<p><a href="#" class="button full" itemprop="url">Full Button</a></p>
