/*--------------------*\
    Expandable
\*--------------------*/

.ex-handle {
    @include inverted-all;

    cursor: pointer;
    padding: $pad ($pad * 3) $pad $pad;
    position: relative;
    z-index: 10;

    h1, h2, h3, h4, h5, h6 {
        color: $white;
        margin-bottom: 0;
    }

    // Modifiers
    &.menu {
        border-radius: 1em;
        height: $pad-double;
        margin: $space-half auto;
        padding: 0;
        width: $pad-double;

        &:before {
            @extend %icon-menu;
            content: "!";
            font-size: $font-size-base;
            position: absolute;
            right: $pad-half;
            top: $pad-half;
        }
    }

    &.triangle {
        &:before {
            @extend %triangle-down;
            
            color: $white;
            font-size: 2em;
            position: absolute;
            right: 1rem;
            top: .75rem;
        }
    }
}

.ex-panel {
    height: auto;
    padding: $pad;
}

// States
.is-closed {
    .triangle {
        &:before {          
            @extend %triangle-right;
        }
    }
    
    .ex-panel {
        height: 0;    
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
}

// Modules
.accordion {
    .ex-content {
        margin-bottom: $space;
    }
}
