.header {
    background-color: $white;
    padding: $pad 0;
    width: $w-pct-full;
    z-index: 950;

    h1 {
        font-size: $font-size-m;
        line-height: $line-height-least;
        margin: 0;
    }

    a {
        color: $lynn-gray-60;
    }

    &.fixed {
        bottom: auto;
        position: fixed;
        top: 0;
        
    }
}

.site-logo {
    height: 55px;
    width: 130px;
    z-index: 950;

    span {
        background: transparent url('http://static.lynn.edu/logos/lynn/web/lynn-logotype-130.gif') no-repeat left top;
    }
}

.ilynn-logo {
    height: 54px;
    width: 212px;
    z-index: 950;

    span {
        background: transparent url('//www.lynn.edu/ilynn/ilynn-logo-hinted-212x50.png') no-repeat left top;
    }
}

.button-menu,
.button-search {
    cursor: pointer;
    display: block;
    line-height: $line-height-least;
    padding: $pad-quarter;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-menu:before,
.button-search:before {
    background: {
        color: transparent;
        image: url("../images/icons-16px.png");
        repeat: no-repeat;
    }
    content: "";
    display: inline-block;
    height: $space;
    vertical-align: bottom;
    width: $space;
}

.button-menu {
    @include border;
    right: calc(#{$space} + 1em);
}
.button-search {
    right: 0;
}

.button-menu:before {
    margin-right: $pad-quarter;
}
.button-search:before {
    background-position: -18px 0;
}
