.header {
	@extend %l-container;
	@extend .cf;

	position: relative;

	.l-resp-right {
		font-size: $font-size-xs;

		.discrete {
			display: block;
		}
	}

	@include bp-min($bp-m) {
		>h1 {
			float: left;
		}

		.l-resp-right {
			display: table;
			float: right;
			height: 55px;
			max-width: 340px;
			text-align: right;

			.subhead {
				display: table-cell;
				vertical-align: bottom;
			}
		}
	}

	@include bp-min($bp-l) {
		.l-resp-right {
			height: 78px;
			max-width: 380px;
			font-size: $font-size-s;
		}
	}
}

.site-logo {
	@include bp-max($bp-l) {
		height: 55px;
		width: 130px;

		span {
			background: transparent url('http://static.lynn.edu/logos/lynn/web/lynn-logotype-130.gif') no-repeat left top;
		}
	}

	@include bp-min($bp-l) {
		height: 78px;
		width: 188px;

		span {
			background: transparent url('http://static.lynn.edu/logos/lynn/web/lynn-logotype-188.gif') no-repeat left top;
		}
	}
}


.ilynn-logo {
	height: 54px;
	width: 212px;

	span {
		background: transparent url('//www.lynn.edu/ilynn/ilynn-logo-hinted-212x50.png') no-repeat left top;
	}
}

.search-form {
	font-size: $font-size-xs;
    overflow: hidden;
    padding: $pad-quarter;
    width: $w-s;
    
    @include bp-max($bp-l) {
        margin: 0 auto;
    }
    
    @include bp-min($bp-l) {
        float: right;
        margin: 0;
    }
    
    input[type=submit], button, .button {
        height: 100%;
        margin: 0;
        padding: $pad-half $pad;
    }
}