/*
 *  Icons
 */

/* Social */
.social-icons {
    a {
        margin: 0 2px;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}