%l-container {
	margin: 0 auto;
}

%l-page-container {
	@extend %l-container;

    position: relative;
    width: 90%;
    
    @include box-sizing(content-box);
    
    @include bp-min($bp-l) {
        min-width: $w-l;
    }
    
    @include bp-min($bp-xl) {
        min-width: $w-xl;
    }
    
    @include bp-min($bp-xxl) {
        max-width: $w-xxl;
        min-width: $w-xxl;
    }
}

/* Layout Container */
.l-container {
	@extend %l-container;
	max-width: $w-max;
}

.l-page-container {
	@extend %l-page-container;
}

/* Page Wrapper */
.l-page {
    @extend %l-page-container;

    margin: $space auto $space-double;
}



/* Main */
.l-content-max {
	margin: 0 auto;
	max-width: $w-main-max;
}

/* Row */
.l-row {
	margin-bottom: $space-quad;
	margin-top: $space-quad;
}

.l-row-b {
	margin-bottom: $space-quad;
}

.l-row-t {
	margin-top: $space-quad;
}

/* Navigation */
.l-nav--column{
	@extend %l-container;

    @include bp-min($bp-l) {
        position: relative;
        width: $w-s;
        float: left;
        left: -($w-pct-m-l);
    }
    
    @include bp-min($bp-xl) {
        left: 0;
    }
}
.l-nav--row {}


/*----- Responsive Adjustments -----*/
.l-resp-right {
	@include bp-min($bp-l) {
		float: right;
	}
}


/*----- Templates -----*/
#midsection {
	clear: both;
	position: relative;

	@include bp-min($bp-l) {
		padding-top: $space*5;
	}
}

/* Two Column Layout */
.l-two-col {
	@extend .cf;

    .l-main {
    	@include bp-min($bp-l) {
    		float: left;
            padding: 0 $space 0 0;
    		width: 66.66666%;
    	}
    }
    
    .l-sidebar {
    	@include bp-min($bp-l) {
    		float: right;
            padding: 0 0 0 $space;
    		width: 33.33333%;
    	}
    }

    &.reversed {
    	@include bp-min($bp-l) {
            .l-main {
                float: right;
                padding: 0 0 0 $space;
            }
        }
    	
    	@include bp-min($bp-l) {
            .l-sidebar {
                float: left;
                padding: 0 $space 0 0;
            }
        }
    }
}

/* Listing - Premiere */
.l-premiere {
	margin: 0 auto;
	max-width: $w-main-max;
}


/*----- Grids -----*/
/* Grid Containter */
.g {
	margin: (-$pad);
	overflow: hidden;
}

/* Grid Item */
.gi {
	padding: $pad;

	img {
		display: block;
	}

	@include bp-min($bp-m) {
		float: left;
	}
}

/* Grid 1up */
.g-1up {
	.gi {
		width: 100%;
	}
}

/* Grid 2up */
.g-2up {
	@include bp-min($bp-m) {
		>.gi {
			width: 50%;

			&:nth-child(odd) {
				clear: left;
			}
		}
	}
}

/* Grid Half (Always displayed side by side) */
.g-half {
	>.gi {
		float: left;
		width: 50%;
		
		&:nth-of-type(odd) {
			clear: left;
		}
	}
}

/* Grid 3up */
.g-3up {
	@include bp-min($bp-m) {
		>.gi {
			width: 33.3333333%;

			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 4up */
.g-4up {
	@include bp-min($bp-m) {
		>.gi {
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@include bp-min($bp-l) {
		>.gi {
			width: 25%;

			&:nth-of-type(2n+1) {
				clear: none;
			}
				
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/* Grid Quarter (Always displayed side by side) */
.g-quarter {
	> .gi {
		float: left;
		width: 25%;
		
		&:nth-of-type(4n+1) {
			clear: left;
		}
	}
}

/* Grid 5up */
.g-5up {
	@include bp-min($bp-m) {
		>.gi {
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@include bp-min($bp-l) {
		>.gi {
			width: 33.3333333%;
		
			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}

	@include bp-min($bp-xl) {
		>.gi {
			width: 20%;

			&:nth-of-type(3n+1) {
				clear: none;
			}

			&:nth-of-type(5n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 2/3 */
.gi-2-3 {
	@include bp-min($bp-m) {
		width: 66.666666%;
	}
}

.gi-1-3 {
	@include bp-min($bp-m) {
		width: 33.333333%;
	}
}