/**~
 *  _media.scss
 *
 *  Media objects place text and figures next to each other
~**/

.#{$css-prefix}media {
    @include flexbox;

    @include bp-max($bp-m) {
        @include flex-flow(column, nowrap);
    }

    @include bp-min($bp-m) {
        @include flex-flow(row, nowrap);
    }

    &__figure {
        img {
            @extend %partial-image--responsive;
        }
    }

    &__caption {
        @include flex(1 1 0);
    }
}

/** Reverse **/
.#{$css-prefix}media--reverse {
    @include bp-min($bp-m) {
        @include flex-flow(row-reverse, nowrap);
    }
}

/** Billboard **/
.#{$css-prefix}media--billboard {
    align-items: center;
    text-align: center;

    %partial-media--billboard-flex {
        @include bp-min($bp-m) {
            @include flex(1 1 50%);
        }
    }

    .#{$css-prefix}media__figure {
        @extend %partial-media--billboard-flex;
    }

    .#{$css-prefix}media__caption {
        @extend %partial-media--billboard-flex;
    }

    .#{$css-prefix}tile {
        @include bp-max($bp-m) {
            padding: $space-quadruple 0;
        }

        margin: auto;
        width: 70%;

        &__title {
            @include bp-min($bp-xl) {
                font-size: $font-size-double--em;
            }
        }

        &__detail {
            @include bp-min($bp-xl) {
                font-size: $font-size-one-and-half--em;
            }
        }
    }
}

/** Testimonial **/
.#{$css-prefix}media--testimonial {
    .#{$css-prefix}media__figure {
        @include flex(1 1 0);

        @include bp-min($bp-m) {
            max-width: 400px;
        }
    }

    .#{$css-prefix}quote {
        font-size: $font-size-one-and-half--rem;
    }
}
