.nav-flyout {
    &.js-enabled {
        @extend %animate-move !optional;

        background-color: rgba($lynn-gray-20, .98);
        display: block;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: $space-double;
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        z-index: 999;        

        @include bp-min($bp-l) {
            right: -#{$w-s};
            width: $w-s;
        }
        
        &.is-open {
            right: 0;
        }

        > ul {margin: $space-triple 0;}

        .menu-item {
            font-size: $font-size-xl;
            line-height: $line-height-base;
        }

        .social-icons {
            @include bp-min($bp-l) {
                bottom: $space-double;
                position: absolute;
            }
        }
    }
}

.js-button-close-flyout:before {
    @include border-radius($font-size-base);

    background-color: $lynn-gray-40;
    color: $lynn-gray-10;
    content: "X";
    cursor: pointer;
    display: block;
    font-weight: 600;
    height: $font-size-base * 2;
    line-height: $font-size-base * 2;
    position: absolute;
    right: $space;
    text-align: center;
    top: $space;
    width: $font-size-base * 2;
}

/* Flexnav Base Styles */
.flexnav {
-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
transition: none;
-webkit-transform-style: preserve-3d;
overflow: hidden;
margin: 0 auto;
width: 100%;
max-height: 0; }
.flexnav.opacity {
opacity: 0; }
.flexnav.flexnav-show {
max-height: 2000px;
opacity: 1;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
transition: all .5s ease-in-out; }
.flexnav.one-page {
position: fixed;
top: 50px;
right: 5%;
max-width: 200px; }
.flexnav li {
font-size: 100%;
position: relative;
overflow: hidden; }
.flexnav li a {
position: relative;
display: block;
padding: .96em;
z-index: 2;
overflow: hidden;
color: #222222;
background: #a6a6a2;
border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.flexnav li ul {
width: 100%; }
.flexnav li ul li {
font-size: 100%;
position: relative;
overflow: hidden; }
.flexnav li ul.flexnav-show li {
overflow: visible; }
.flexnav li ul li a {
display: block;
background: #b2b2af; }
.flexnav ul li ul li a {
background: #bfbfbc; }
.flexnav ul li ul li ul li a {
background: #cbcbc9; }
.flexnav .touch-button {
position: absolute;
z-index: 999;
top: 0;
right: 0;
width: 50px;
height: 50px;
display: inline-block;
background: #acaca1;
background: rgba(0, 0, 0, 0.075);
text-align: center; }
.flexnav .touch-button:hover {
cursor: pointer; }
.flexnav .touch-button .navicon {
position: relative;
top: 1.4em;
font-size: 12px;
color: #666; }
.menu-button {
position: relative;
display: block;
padding: 1em;
background: #a6a6a2;
color: #222222;
cursor: pointer;
border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.menu-button.one-page {
position: fixed;
top: 0;
right: 5%;
padding-right: 45px; }
.menu-button .touch-button {
background: transparent;
position: absolute;
z-index: 999;
top: 0;
right: 0;
width: 50px;
height: 50px;
display: inline-block;
text-align: center; }
.menu-button .touch-button .navicon {
font-size: 16px;
position: relative;
top: 1em;
color: #666; }