/**~
 *  _nav-breadcrumbs.scss
~**/

.#{$css-prefix}breadcrumbs {
    > .#{$css-prefix}list__item {
        font-size: $font-size-three-fourths--em;
        line-height: #{$line-height-triple}rem;

        &::after {
            content: "/";
            margin: 0 $space-half;
        }

        &:last-child {
            &:after {
                content: "";
                margin: 0;
            }

            a {
                color: $accent-blue;
            }
        }

        a {
            color: $lynn-gray;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
