.take-action {
    border-top: 1px solid $lynn-gray-40;
    
    li {
        border-bottom: {
            color: $lynn-gray-40;
            style: solid;
            width: 1px;
        }
        position: relative;
        
        &:hover {
            background: $lynn-gray-10;
        }
    }
    
    a {
        color: $lynn-gray-web;
        display: block;
        padding: $pad;
        
        strong {
            color: $lynn-blue;
            font: {
                size: $font-size-l;
                weight: normal;
            }
            line-height: $line-height-least;
        }
    }
}