/**~
 *  _page-layout.scss
~**/

@include l-width(12);

@each $point in map-keys($layout) {

    $breakpoint: map-get(map-get($layout, $point), 'breakpoint');
    $columns: map-get(map-get($layout, $point), 'columns');

    @include bp-max($breakpoint) {
        @include l-width($columns, #{$point}, true);
    }

    @include bp-min($breakpoint) {
        @include l-width($columns, #{$point});
    }
}

// Containers
@each $width in map-keys($widths) {
    $size: map-get($widths, $width) + rem;

    .#{$css-prefix}l-container--#{$width} {
        max-width: $size;
    }
}

.#{$css-prefix}l-container--fluid {
    width: 100%;
}

.#{$css-prefix}l-container--center {
    margin-left: auto;
    margin-right: auto;
}

.#{$css-prefix}l-container--left {
    margin-right: auto;
}

.#{$css-prefix}l-container--right {
    margin-left: auto;
}

