/**~
 *  _panels.scss
~**/

.#{$css-prefix}panel {
    &__heading {
        margin-bottom: $space-quadruple;
        text-align: center;

        .#{$css-prefix}tile__title {
            font-size: $font-size-triple--em;
        }

        .#{$css-prefix}tile__detail {
            font-size: $font-size-one-and-half--em;
            line-height: $line-height-double;
        }
    }

    &__content {}
}


.#{$css-prefix}panel--footer {
    a {
        color: $lynn-gray-web;

        &:hover {
            color: $lynn-blue;
        }
    }

    .#{$css-prefix}footer {
        &__main {
            .#{$css-prefix}list--vertical {
                .#{$css-prefix}list__item {
                    line-height: $line-height-double;
                }
            }
        }

        &__sub {
            font-size: $font-size-seven-eighths--rem;
        }
    }
}


.#{$css-prefix}panel--photostream {
    .#{$css-prefix}gi {
        &:nth-child(3n+1) {
            .#{$css-prefix}card__caption {
                @extend %ph-card__caption--blue;
            }
        }

        &:nth-child(3n+2) {
            .#{$css-prefix}card__caption {
                @extend %ph-card__caption--orange;
            }
        }

        &:nth-child(3n+3) {
            .#{$css-prefix}card__caption {
                @extend %ph-card__caption--green;
            }
        }
    }

    .#{$css-prefix}tile__action {
        display: inline-block;
    }
}
