h1, .heading {
	@include bp-max(m) {
		font-size: $font-size-xxl;
	}
}

/* Article Heading */
.article-header {
	margin-bottom: $space-double;
}

/* Heading Group(s) */
.hgroup {
	margin-bottom: $space-double;
}

/* Text passages */
.text {
	a {
		text-decoration: underline;
	}

	ol, ul {
		margin: 0 0 $pad $pad-double;

		li {
			margin-top: $pad-half;
		}

		ol, ul {
			margin-bottom: 0;
		}
	}

	ol {
		list-style: decimal;
	}

	ul {
		list-style: disc;
	}
}

/* Pulled quote */
.pulledquote {
	display: block;
	font-size: $font-size-l;
	margin: $space-double;

	&:first-letter {
		text-transform: capitalize;
	}

	&.left, &.right {
		width: 40%;
	}
	&.left {
		margin: 0 $space $space 0;
	}
	&.right {
		margin: 0 0 $space $space;
	}
}

/* Citation */
.citation {
	color: $lynn-gray-web;
	display: block;
	font-size: $font-size-xs;
}

/* Contact point */
.contact {
	%contact-before {
		display: inline-block;
		width: 4em;
	}
	
	.contact-email {
		&:before {
			@extend %contact-before;

			content: "Email";
		}
	}

	.contact-fax {
		&:before {
			@extend %contact-before;

			content: "Fax";
		}
	}

	.contact-phone {
		&:before {
			@extend %contact-before;

			content: "Phone";
		}
	}
}

/* Person */
.person {
	&.block {
		//font-size: $font-size-s;
	}
}

.person-suffix-honorific {
	display: block;
	font-size: $font-size-xs;
}