/**~
 *  _tiles.scss
~**/

.#{$css-prefix}tile {
    &__title {
        font-size: $font-size-one-and-half--em;
    }

    &__detail {
        margin: $space 0 $space-double;
    }

    &__action,
    &__subaction {
        display: inline-block;
        margin: $space 0;
    }
}


%ph-tile-center-padded {
    margin: auto;
    text-align: center;
    width: 70%;
}


.#{$css-prefix}tile--cta {
    @extend %ph-tile-center-padded;
    
    margin-bottom: $space-quadruple;    

    .#{$css-prefix}tile__action {
        .#{$css-prefix}button--pill {
            display: block;
        }
    }

    .#{$css-prefix}tile__detail,
    .#{$css-prefix}tile__subaction {
        font-size: $font-size-one-and-quarter--em;
    }
}


.#{$css-prefix}tile--news-event {
    .#{$css-prefix}meta {
        margin-bottom: $space-quarter;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .#{$css-prefix}datestamp {
        display: inline;
        font-weight: $font-weight-bold;
        vertical-align: middle;
    }

    .#{$css-prefix}list--horizontal {
        display: inline;
    }
}


.#{$css-prefix}tile--program {
    .#{$css-prefix}tile__action {
        margin: $space-half 0;
    }
}