%heading-default {
    font-family: $font-helveticaneue;
    line-height: 1.2;
    margin-bottom: $space-half;
}

h1, .h1 {
    @extend %heading-default;
    font: {
        size: $font-size-xxl;
        weight: normal;
    }
}
h2, .h2 {
    @extend %heading-default;
    font: {
        size: $font-size-xl;
        weight: normal;
    }
}
h3, .h3 {
    @extend %heading-default;
    font: {
        size: $font-size-l;
        weight: normal;
    }
}
h4, .h4, h5, .h5, h6, .h6 {
    @extend %heading-default;
    font: {
        size: $font-size-m;
    }
}