%heading-default {
    font-weight: normal;
    line-height: 1;
    margin-bottom: $space-half;
}

h1, .h1 {
    @extend %heading-default;
    font-family: $font-helveticaneue;
    text-transform: uppercase;
    @include font-size(2.5);
}
h2, .h2 {
    @extend %heading-default;
    font-family: $font-helveticaneue-thin;
    text-transform: uppercase;
    @include font-size(2.25);
}
h3, .h3 {
    @extend %heading-default;
    font-family: $font-helveticaneue-thin;
    @include font-size(2.25);
}
h4, .h4 {
    @extend %heading-default;
    font-family: $font-helveticaneue-thin;
    @include font-size(2);
}
h5, .h5 {
    @extend %heading-default;
    font-family: $font-helveticaneue-thin;
    @include font-size(1.75);
}
h6, .h6 {
    @extend %heading-default;
    font-family: $font-helveticaneue-thin;
    @include font-size(1.5);
}