/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}








/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
iframe {
	margin-bottom: $space;
}

figure {
	margin-bottom: $space;
	img {
		margin-bottom: $space-half;
	}
}
figcaption {
	font-style: italic;
}
