/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $font-size-s;
    margin: $space 0;
    width: 100%;
}

th {
    font-weight: bold;
    padding: $pad $pad-half;
    text-align: left;
}

td {
    padding: $pad $pad-half;
}

/* Grid */
.grid {
    &, th, td {
        border: {
            color: $gray;
            style: solid;
            width: 1px;
        }
    }
}

/* Zebra Stripes */
.zebra {
    th {
        background-color: tint($gray, 50%);
    }

    tr:nth-child(even) td {
        background-color: tint($gray, 90%);
    }
}