/* Text-Related Elements */ 
p {
	margin-bottom: $space-and-half;
}

/* Blockquote */
blockquote {
    color: $gray;
    margin: $space-double;
	padding: $pad-double;

    >p:last-of-type {
        margin-bottom: 0;
    }
}

/* Quote */
q {}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}