/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/

// Color Modifiers
.block_listing.blue {
	&:after {
		@include background-image(linear-gradient(bottom, color-stops(tint($blue-secondary, 50%) 50%, rgba($white, 0) 50%) ));
	}
	&.is-open:after {
		@include background-image(linear-gradient(top, color-stops(tint($blue-secondary, 50%) 50%, $white 50%) ));
	}

	.block-link:hover {
		background-color: tint($blue-secondary, 90%);
	}
}

.block_listing.green {
	&:after {
		@include background-image(linear-gradient(bottom, color-stops(tint($green-secondary, 50%) 50%, rgba($white, 0) 50%) ));
	}	
	&.is-open:after {
		@include background-image(linear-gradient(top, color-stops(tint($green-secondary, 50%) 50%, $white 50%) ));
	}
	
	.block-link:hover {
		background-color: tint($green-secondary, 90%);
	}
}

.block_listing.orange {
	&:after {
		@include background-image(linear-gradient(bottom, color-stops(tint($orange-secondary, 50%) 50%, rgba($white, 0) 50%) ));
	}
	&.is-open:after {
		@include background-image(linear-gradient(top, color-stops(tint($orange-secondary, 50%) 50%, $white 50%) ));
	}

	.block-link:hover {
		background-color: tint($orange-secondary, 90%);
	}
}