/*------------------------------------*\
    $EXPANDABLE
\*------------------------------------*/

// Color Modifiers
.ex-handle {
    &.blue {
        @extend %inverted-blue;

        &:hover {
            background: $blue-accent;
        }
    }

    &.green {
        @extend %inverted-green;

        &:hover {
            background: $green-accent;
        }
    }

    &.orange {
        @extend %inverted-orange;

        &:hover {
            background: $orange-accent;
        }
    }
}

.block_listing {
    // Modifiers
    &.blue {
        .ex-handle {
            background: $blue-accent;
        }
        .ex-panel {
            @extend %inverted-blue;
        }
    }
    &.green {
        .ex-handle {
            background: $green-accent;
        }
        .ex-panel {
            @extend %inverted-green;
        }
    }
    &.orange {
        .ex-handle {
            background: $orange-accent;
        }
        .ex-panel {
            @extend %inverted-orange;
        }
    }
}