/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/*--------------------*\
    Placeholders
\*--------------------*/
%inverted-blue {
    background-color: $blue-secondary;
}

%inverted-green {
    background-color: $green-secondary;
}

%inverted-orange {
    background-color: $orange-secondary;
}


/*--------------------*\
    Modifiers
\*--------------------*/

/* Colors */
.color-blue-lynn {
    color: $blue-lynn;
}

.color-blue {
    color: $blue-accent;
}

.color-green {
    color: $green-accent;
}

.color-orange {
    color: $orange-accent;
}


/* Inverted */
.inverted.blue, .blue .inverted {
    @extend %inverted-blue;
}
.inverted.green, .green .inverted {
    @extend %inverted-green;
}
.inverted.orange, .orange .inverted {
    @extend %inverted-orange;
}