// Base Colors
$black:             rgb(0,0,0);
$white:             rgb(255,255,255);

// Lynn Colors
$blue-lynn:         rgb(0,61,165);
$gray:              rgb(117,120,123);

// Secondary Colors
$blue-secondary:    rgb(139,211,230);
$green-secondary:   rgb(183,221,121);
$orange-secondary:  rgb(255,160,106);

// Accent Colors
$blue-accent:       rgb(0,175,215);
$green-accent:      rgb(120,190,32);
$orange-accent:     rgb(255,106,19);

// Variable lists to let SASS make our life easier
$color-classes: black, white, blue-lynn, gray, blue-secondary, green-secondary, orange-secondary, blue-accent, green-accent, orange-accent;
$color-list: $black, $white, $blue-lynn, $gray, $blue-secondary, $green-secondary, $orange-secondary, $blue-accent, $green-accent, $orange-accent;
