@import url(//fast.fonts.net/cssapi/4502be6a-d4d2-41ad-988f-72e9420f9860.css);

$font: Helvetica,​Arial,​sans-serif;

$font-helveticaneue: 'Neue Helvetica W01',$font;
$font-adobegaramond: 'Adobe Garamond W01';

/* Font Classes */
.font-helveticaneue {
	font-family: $font-helveticaneue;
}

.font-adobegaramond {
    font-family: $font-adobegaramond;
}