%defaultLink {
    color: $lynn-blue;
    text-decoration: none;

    &:active, &:focus, &:hover {
        color: $lynn-blue-70;
    } 
}

a {
	@extend %defaultLink;
}

a, button {
    cursor: pointer;
}
