/**~
 *  _lists.scss - Global
~**/

/** Default **/
ol, ul {
    list-style: {
        image: none;
        position: outside;
        type: none;
    }
    margin: 0;
    padding: 0;
}

/** Ordered list **/
.#{$css-prefix}list--ordered {
    list-style: {
        image: none;
        position: outside;
        type: decimal;
    }
    margin-left: $space-one-and-half;
}


/** Unordered list **/
.#{$css-prefix}list--disc {
    list-style: {
        image: none;
        position: outside;
        type: disc;
    }
    margin-left: $space-one-and-half;
}




/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: 600;
}

dd {
	margin-left: 0;
}