/*--------------------*\
	Main
\*--------------------*/

%defaultBody {
	background: {
		color: $white;
		image: none;
		repeat: no-repeat;
	}
	color: $lynn-gray-web;
	font: 100%/#{$line-height-base} $font;
	margin: 0;
	padding: 0;
}

.body {
	@extend %defaultBody;

	-webkit-font-smooting: antialiased;
	-webkit-text-size-adjust: 100%;
}