p {
	margin: 0 0 $pad-and-half 0;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
}
sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

blockquote {
	font-size: $font-size-xl;
	margin: $space-double;
}