<section class="department l-main" itemtype="http://schema.org/Organization" itemscope="">
	{{> organisms-article-heading }}
	<h3 class="h3">Contact</h3>
	<p>
		123-456-7890<br />
		800-456-7890 (toll free)
	</p>
	<p>
		<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
	</p>
	<div class="g g-2up">
		{{# listItems.four }}
		<div class="gi">
			{{> molecules-block-listing-person }}
		</div>
		{{/ listItems.four }}
	</div>
</section>