<div class="hgroup">
	<h1 class="headline" itemprop="name">
		{{# headline.islink }}
			<a href="{{ url }}" itemprop="url">{{ headline.text }}</a>
		{{/ headline.islink }}
		{{^ headline.islink }}
			{{ headline.text }}
		{{/ headline.islink }}
	</h1>
	{{# subhead.visible }}
	<h2 class="subhead">{{ subhead.text }}</h2>
	{{/ subhead.visible }}
</div>
