<div class="hgroup">
	<h1 class="headline" itemprop="name">
		{{# headline.islink }}<a href="{{ url }}" itemprop="url">{{/ headline.islink }}
		{{ name.first }} {{ name.last }}{{# name.suffix }}, {{ name.suffix }} {{/ name.suffix }}
		{{# headline.islink }}</a>{{/ headline.islink }}

		{{# subhead.visible }}
		<span class="person-suffix-honorific" itemprop="honorificSuffix">{{ name.suffix-honorific }}</span>
		{{/ subhead.visible }}

	</h1>
</div>
{{# job }}
<div class="person-job" itemprop="jobTitle">{{ job }}</div>
{{/ job }}