{{# pageHeader }}
<header class="{{css-prefix}}page-header {{ styleModifier }}">
    <div class="{{css-prefix}}l-pos-relative {{css-prefix}}l-container--xxl {{css-prefix}}l-container--center">

        {{> atoms-logo }}

        {{> molecules-global-nav }}

    </div>
</header>
{{/ pageHeader }}
