<footer class="footer">
    <nav class="nav-footer">
        <ul class="inline-list">
            <li><a href="{{ url }}">Item 1</a>
            <li><a href="{{ url }}">Item 2</a>
            <li><a href="{{ url }}">Item 3</a>
            <li><a href="{{ url }}">Item 4</a>
        </ul>
    </nav>
</footer>



<!-- Begin Footer -->
<!--
<footer class="footer" role="contentinfo">
	<div class="lc">
		<p class="copyright">&copy; 2013 Company Name. All rights reserved.</p>
	</div>
</footer>
-->
<!-- End Footer -->
