<footer class="footer">
    <div class="l-page-container">
        <div class="l-row-quad-b">
            {{> molecules-footer-nav }}
        </div>
        <div class="l-row">
            <div class="g g-2up">
                <div class="gi align-m-center-left">
                    {{> molecules-apple-distinguished-school }}
                </div>
                <div class="gi align-m-center-right">
                    {{> molecules-social }}
                    {{> molecules-copyright }}
                </div>
            </div>
        </div>
    </div>
</footer>
