%block {
	margin: 0 auto $space-double;
	max-width: $w-main-max;
	overflow: hidden;
	position: relative;

	.block--inner {}

	.block-link {
		display: block;
	}

	.block-image {
		margin: 0 auto $space auto;
		img {
			display: block;
		}
	}

	.block-text {}
}


/*----- Modules -----*/
.block {
	@extend %block;
}


/*----- Submodules -----*/
.block_padded {
	padding: $pad;
}

.block_thumb {
	width: 100%;

	.block-inner {
		@include bp-min(m) {
			align-items: stretch;

			@include flexbox;
		}
	}

	.block-image {
		@include bp-max(m) {
			width: 100%;

			img {
				margin: 0 auto;
			}
		}

		@include bp-min(m) {
			margin-bottom: 0;
			padding-left: $pad;
			@include flex(1 0 35%);
			@include order(2);
		}
	}

	.block-text {
		@include bp-min(m) {
			@include flex(1 0 65%);
			@include order(1);
		}		
	}
}

/* Block with (hidden) nav content */
.block_listing {
	border: 1px solid tint($lynn-gray, 60%);

	&:after {
		bottom: 0;
		content: "";
    	height: 2.5em;
    	left: 0;
    	line-height: 2.5em;
    	position: absolute;
    	width: 100%;

		@include background-image(linear-gradient(bottom, color-stops(tint($lynn-gray, 50%) 50%, rgba($white, 0) 50%) ));

		@include box-sizing(border-box);
	}

	// Components
	.block-link {
		cursor: pointer;
		color: $lynn-gray-web;
		min-height: 20em;
		padding: $pad $pad ($pad*2.5) $pad;

		&:hover {
			background-color: tint($lynn-gray, 90%);
		}
	}

	.level-1 {
		font-size: $font-size-l;
	}

	// States
	&.is-open {
		&:after {
			@include background-image(linear-gradient(top, color-stops(tint($lynn-gray, 50%) 50%, $white 50%) ));
		}
	}
}


// Color Modifiers
.block_listing.blue {
	&:after {
		@include background-image(linear-gradient(bottom, color-stops(tint($secondary-blue, 50%) 50%, rgba($white, 0) 50%) ));
	}
	&.is-open:after {
		@include background-image(linear-gradient(top, color-stops(tint($secondary-blue, 50%) 50%, $white 50%) ));
	}

	.block-link:hover {
		background-color: tint($secondary-blue, 90%);
	}
}

.block_listing.green {
	&:after {
		@include background-image(linear-gradient(bottom, color-stops(tint($secondary-green, 50%) 50%, rgba($white, 0) 50%) ));
	}	
	&.is-open:after {
		@include background-image(linear-gradient(top, color-stops(tint($secondary-green, 50%) 50%, $white 50%) ));
	}
	
	.block-link:hover {
		background-color: tint($secondary-green, 90%);
	}
}

.block_listing.orange {
	&:after {
		@include background-image(linear-gradient(bottom, color-stops(tint($secondary-orange, 50%) 50%, rgba($white, 0) 50%) ));
	}
	&.is-open:after {
		@include background-image(linear-gradient(top, color-stops(tint($secondary-orange, 50%) 50%, $white 50%) ));
	}

	.block-link:hover {
		background-color: tint($secondary-orange, 90%);
	}
}




/* Block with person contact */
.block_listing.person {
	.block-link {
		min-height: 32em;
	}

	.block-image {
		margin: 0 auto $space;
		max-height: 10rem;
		max-width: 15rem;
		overflow: hidden;

		img {
			height: auto;
			margin-top: -2.5rem;
		}
	}

	@media screen and (min-width: $bp-s) and (max-width: $bp-m - 1px) {
		.block-link {
			min-height: 0;

			@include flexbox;
		}

		.block-image {
			max-height: none;

			@include flex(1 0 35%);
			@include order(2);

			img {
				margin-top: 0;
			}
		}
		.block-text {
			@include flex(1 0 65%);
			@include order(1);
		}
	}
}


/* A simple navigation block */
.block_nav {
	border: 1px solid tint($lynn-gray, 60%);

	// Components
	.block-link {
		cursor: pointer;
		color: $lynn-gray-web;
		min-height: 20em;
		padding: $space;

		&:hover {
			background-color: tint($lynn-gray, 90%);
		}
	}
}