.header {
	@extend %l-container;
	@extend .cf;

	position: relative;

	.l-resp-right {
		font-size: $font-size-xs;

		.discrete {
			display: block;
		}
	}

	@include bp-min(m) {
		>h1 {
			float: left;
		}

		.l-resp-right {
			display: table;
			float: right;
			height: 55px;
			max-width: 340px;
			text-align: right;

			.subhead {
				display: table-cell;
				vertical-align: bottom;
			}
		}
	}

	@include bp-min(l) {
		.l-resp-right {
			height: 78px;
			max-width: 380px;
			font-size: $font-size-s;
		}
	}
}

.site-logo {
	@include bp-max(l) {
		height: 55px;
		width: 130px;

		span {
			background: transparent url('http://www.lynn.edu/images/lynn-logotype-130.gif') no-repeat left top;
		}
	}

	@include bp-min(l) {
		height: 78px;
		width: 188px;

		span {
			background: transparent url('http://www.lynn.edu/images/lynn-logotype-188.gif') no-repeat left top;
		}
	}
}

.search-form {
	font-size: $font-size-xs;
    overflow: hidden;
    padding: $pad-quarter;
    width: $w-s;
    
    @include bp-max(l) {
        margin: 0 auto;
    }
    
    @include bp-min(l) {
        float: right;
        margin: 0;
    }
    
    input[type=submit], button, .button {
        height: 100%;
        margin: 0;
        padding: $pad-half $pad;
    }
}