%l-container {
	margin: 0 auto;
	// padding: $pad;
}

/* Layout Container */
.l-container {
	@extend %l-container;
	max-width: $w-max;
}

/* Page Wrapper */
.l-page {
    background-color: $white;
    margin: $space auto;
    position: relative;
    width: 90%;
    
    @include box-sizing(content-box);
    
    @include bp-min(l) {
        min-width: $w-l;
    }
    
    @include bp-min(xl) {
        min-width: $w-xl;
    }
    
    @include bp-min(xxl) {
        max-width: $w-xxl;
        min-width: $w-xxl;
    }
}

/* Main */
.l-main {
	margin: 0 auto;
	max-width: $w-main-max;
}

/* Row */
.l-row {
	margin: $space-quad 0;
}

/* Navigation */
.l-nav--column{
	@extend %l-container;

    @include bp-min(l) {
        position: relative;
        width: $w-s;
        float: left;
        left: -($w-pct-m-l);
    }
    
    @include bp-min(xl) {
        left: 0;
    }
}
.l-nav--row {}


/*----- Responsive Adjustments -----*/
.l-resp-right {
	@include bp-min(l) {
		float: right;
	}
}


/*----- Templates -----*/
#midsection {
	clear: both;
	position: relative;

	//@include bp-max(l) {
		padding-top: 5em;
	//}
}

/* Two Column Layout */
.l-two-col {
    .l-main {
    	@include bp-min(l) {
    		float: left;
    		width: 70%;
    	}
    }
    
    .l-sidebar {
    	@include bp-min(l) {
    		float: right;
    		width: 30%;
    	}
    }

    .reversed {
    	.l-main {
    		float: right;
    	}
    	
    	.l-sidebar {
    		float: left;
    	}
    }
}

/* Listing - Premiere */
.l-premiere {
	margin: 0 auto;
	max-width: $w-main-max;
}


/*----- Grids -----*/
/* Grid Containter */
.g {
	margin: 0 (-$pad-half);
	overflow: hidden;
}

/* Grid Item */
.gi {
	padding: $pad-half;

	img {
		display: block;
	}

	@include bp-min(m) {
		float: left;
	}
}

/* Grid 1up */
.g-1up {
	.gi {
		width: 100%;
	}
}

/* Grid 2up */
.g-2up {
	@include bp-min(m) {
		>.gi {
			width: 50%;

			&:nth-child(odd) {
				clear: left;
			}
		}
	}
}

/* Grid Half (Always displayed side by side) */
.g-half {
	>.gi {
		float: left;
		width: 50%;
		
		&:nth-of-type(odd) {
			clear: left;
		}
	}
}

/* Grid 3up */
.g-3up {
	@include bp-min(m) {
		>.gi {
			width: 33.3333333%;

			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 4up */
.g-4up {
	@include bp-min(m) {
		>.gi {
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@include bp-min(l) {
		>.gi {
			width: 25%;

			&:nth-of-type(2n+1) {
				clear: none;
			}
				
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}

/* Grid Quarter (Always displayed side by side) */
.g-quarter {
	> .gi {
		float: left;
		width: 25%;
		
		&:nth-of-type(4n+1) {
			clear: left;
		}
	}
}

/* Grid 5up */
.g-5up {
	@include bp-min(m) {
		>.gi {
			width: 50%;

			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}

	@include bp-min(l) {
		>.gi {
			width: 33.3333333%;
		
			&:nth-of-type(2n+1) {
				clear: none;
			}

			&:nth-of-type(3n+1) {
				clear: left;
			}
		}
	}

	@include bp-min(xl) {
		>.gi {
			width: 20%;

			&:nth-of-type(3n+1) {
				clear: none;
			}

			&:nth-of-type(5n+1) {
				clear: left;
			}
		}
	}
}

/* Grid 2/3 */
.gi-2-3 {
	@include bp-min(m) {
		width: 66.666666%;
	}
}

.gi-1-3 {
	@include bp-min(m) {
		width: 33.333333%;
	}
}