.nav-main {
    &:before {
        @extend %icon-menu;
    }

    @include bp-max(l) {
        background-color: tint($lynn-gray, 90%);
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        z-index: 999;
        
        &:before {
            cursor: pointer;
            display: block;
            padding: $space $pad;
        }

        &:after {
            content: "Menu";
            left: $pad * 2.5;
            line-height: 1;
            position: absolute;
            top: $space;
        }
        
        li {
            display: block;
            
            a {
                border-bottom-color: tint($lynn-gray, 60%);
                display: block;
                margin: 0 $pad-half;
            }
        }
        
        &.is-open {
            &:before {
                border-bottom: {
                    color: tint($lynn-gray, 60%);
                    style: solid;
                    width: 1px;
                }
            }
        }

        &.is-closed li {
            display: none;
        }
        
        .selected:before {
            display: none;
        }
        
        .submenu {
            padding-left: $pad-half;
        }

        // Only reposition if javascript is enabled
        &.js-enabled {
            //left: 50%;
            //margin-left: -120px;
            position: absolute;
            top: 0;
        }
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;

        @include bp-max(l) {
            border-bottom: {
                color: tint($lynn-gray, 60%);
                style: solid;
                width: 1px;
            }
        }

        @include bp-min(l) {
            background-color: $white;
            border-bottom: 1px solid tint($lynn-gray, 60%);
            .menu {
                max-width: $w-max;
                margin: $space auto;
                text-align: right;
                width: 90%;
            }
            .submenu {
                text-align: left;
            }
        }
    }
}