<nav class="nav-main expandable">
    <ul>
        <li><a href="{{ url }}">Item 1</a></li>
        <li>
            <a href="{{ url }}">Item 2</a>
            <ul class="submenu">
                <li><a href="{{ url }}">Subitem 1</a></li>
                <li>
                    <a href="{{ url }}">Subitem 2</a>
                    <ul class="submenu">
                        <li><a href="{{ url }}" class="selected">Subitem 1</a></li>
                        <li><a href="{{ url }}">Subitem 2</a></li>
                        <li><a href="{{ url }}">Subitem 3</a></li>
                    </ul>
                </li>
                <li><a href="{{ url }}">Subitem 3</a></li>
            </ul>
        </li>
        <li><a href="{{ url }}">Item 3</a></li>
        <li><a href="{{ url }}">Item 4</a></li>
        <li><a href="{{ url }}">Item 5</a></li>
    </ul>
</nav>
