<ul class="take-action">
    <li>
        <a href="{{ url }}">
            <strong>Action Title</strong><br />
            Description of the action
        </a>
    </li>
    <li>
        <a href="{{ url }}">
            <strong>Action Title</strong><br />
            Description of the action
        </a>
    </li>
    <li>
        <a href="{{ url }}">
            <strong>Action Title</strong><br />
            Description of the action
        </a>
    </li>
    <li>
        <a href="{{ url }}">
            <strong>Action Title</strong><br />
            Description of the action
        </a>
    </li>
</ul>
