<nav role="navigation" aria-label="breadcrumbs">
    <ol class="{{css-prefix}}breadcrumbs" aria-labelledby="breadcrumbs">
        {{# breadcrumbs }}
        <li class="{{ styleModifier }}">
            <a href="{{ url }}" title="{{ title }}">{{ title }}</a>
        </li>
        {{/ breadcrumbs }}
    </ol>
</nav>
