{{# navBreadcrumb }}
<nav role="navigation" aria-label="breadcrumbs">
    {{# list }}
    <ol class="{{css-prefix}}breadcrumbs {{css-prefix}}list--horizontal" aria-labelledby="breadcrumbs">
        {{# items }}
        <li class="{{ styleModifier }}">
            <a href="{{ url }}" title="{{ title }}">{{ title }}</a>
        </li>
        {{/ items }}
    </ol>
    {{/ list }}
</nav>
{{/ navBreadcrumb }}
