<nav class="nav_gray text-center">
    <ul class="inline-list">
        {{# footerLinks }}
        <li><a href="{{ url }}" class="menu-item">{{ title }}</a></li>
        {{/ footerLinks }}
    </ul>
</nav>