{{# navHeader }}
<nav id="{{ css-prefix }}nav-header" aria-label="Global navigation" role="navigation">
    {{# list }}
    <ul class="{{ styleModifier }}" role="group">
        {{# items }}
        <li class="{{ styleModifier }}">
            {{> atoms-button }}
        </li>
        {{/ items }}
    </ul>
    {{/ list }}
</nav>
{{/ navHeader }}
