<div class="accordion">
    {{# listItems.three }}
    <section class="expandable">
        <header class="ex-handle {{ styleModifier.accordion.header }}">
             <h3 class="h3">{{ headline.short }}</h3>
        </header>
        <div class="ex-panel">
            {{> organisms-collection }}
        </div>
    </section>
    {{/ listItems.three }}
</div>