// Base Colors
$black:             rgb(0,0,0);
$white:             rgb(255,255,255);
$lynn-blue:         rgb(0,61,165);
$lynn-gray-web:		rgb(99,102,106);
$lynn-gray:         $lynn-gray-web;
$fk-gray:			rgb(177,179,179);

// Gray Tints
$lynn-gray-90:		tint($lynn-gray, 10%);
$lynn-gray-80:		tint($lynn-gray, 20%);
$lynn-gray-70:		tint($lynn-gray, 30%);
$lynn-gray-60:		tint($lynn-gray, 40%);
$lynn-gray-50:		tint($lynn-gray, 50%);
$lynn-gray-40:		tint($lynn-gray, 60%);
$lynn-gray-30:		tint($lynn-gray, 70%);
$lynn-gray-20:		tint($lynn-gray, 80%);
$lynn-gray-10:		tint($lynn-gray, 90%);

// Secondary Colors
$secondary-blue:    rgb(139,211,230);
$secondary-green:   rgb(179,213,125);
$secondary-orange:  rgb(253,170,99);

// Accent Colors
$accent-blue:       rgb(0,175,215);
$accent-green:      rgb(120,190,32);
$accent-orange:     rgb(232,119,34);

// Variable lists to let SASS make our life easier
$color-classes: "black", "white", "lynn-blue", "lynn-gray-web", "secondary-blue", "secondary-green", "secondary-orange", "accent-blue", "accent-green", "accent-orange", "lynn-gray-90", "lynn-gray-80", "lynn-gray-70", "lynn-gray-60", "lynn-gray-50", "lynn-gray-40", "lynn-gray-30", "lynn-gray-20", "lynn-gray-10", "fk-gray";
$color-list: $black, $white, $lynn-blue, $lynn-gray-web, $secondary-blue, $secondary-green, $secondary-orange, $accent-blue, $accent-green, $accent-orange, $lynn-gray-90, $lynn-gray-80, $lynn-gray-70, $lynn-gray-60, $lynn-gray-50, $lynn-gray-40, $lynn-gray-30, $lynn-gray-20, $lynn-gray-10, $fk-gray;

// Inverted color 
$inverted-default-bg: $lynn-gray-60;
$inverted-default-hover: $lynn-gray;

$inverted-color-map: (
	"default": (
		"background": $inverted-default-bg,
		"color": $white,
		"hover": $inverted-default-hover
	),
	"blue": (
		"background": $secondary-blue,
		"color": $white,
		"hover": $accent-blue
	),
	"green": (
		"background": $secondary-green,
		"color": $white,
		"hover": $accent-green
	),
	"orange": (
		"background": $secondary-orange,
		"color": $white,
		"hover": $accent-orange
	)
);
