/**~
 *  _spacing.scss
 *
 *  Global variables for spacing of elements (line-height, margin and padding)
 *
~**/

// Line height
$line-height-eighth:            map-get($sizes, eighth);
$line-height-quarter:           map-get($sizes, quarter);
$line-height-half:              map-get($sizes, half);
$line-height-three-fourths:     map-get($sizes, three-fourths);
$line-height-seven-eighths:     map-get($sizes, seven-eighths);
$line-height:                   map-get($sizes, one);
$line-height-one-and-quarter:   map-get($sizes, one-and-quarter);
$line-height-one-and-half:      map-get($sizes, one-and-half);
$line-height-double:            map-get($sizes, double);
$line-height-triple:            map-get($sizes, triple);
$line-height-quadruple:         map-get($sizes, quadruple);

$line-height-base: 1.2;

// Space (relative)
$space-eighth--em:        map-get($sizes, eighth) + em;
$space-quarter--em:       map-get($sizes, quarter) + em;
$space-half--em:          map-get($sizes, half) + em;
$space-three-fourths--em: map-get($sizes, three-fourths) + em;
$space-seven-eighths--em: map-get($sizes, seven-eighths) + em;
$space--em:               map-get($sizes, one) + em;
$space-one-and-half--em:  map-get($sizes, one-and-half) + em;
$space-double--em:        map-get($sizes, double) + em;
$space-triple--em:        map-get($sizes, triple) + em;
$space-quadruple--em:     map-get($sizes, quadruple) + em;

// Space (fixed)
$space-eighth:        map-get($sizes, eighth) + rem;
$space-quarter:       map-get($sizes, quarter) + rem;
$space-half:          map-get($sizes, half) + rem;
$space-three-fourths: map-get($sizes, three-fourths) + rem;
$space-seven-eighths: map-get($sizes, seven-eighths) + rem;
$space:               map-get($sizes, one) + rem;
$space-one-and-half:  map-get($sizes, one-and-half) + rem;
$space-double:        map-get($sizes, double) + rem;
$space-triple:        map-get($sizes, triple) + rem;
$space-quadruple:     map-get($sizes, quadruple) + rem;
