{{# testimonial }}
<section class="{{css-prefix}}section {{ css-prefix }}testimonial">
    <div class="{{css-prefix}}testimonial__image">
    </div>
    <div class="{{css-prefix}}testimonial_text">
        <blockquote>
            {{{ quote }}}
            <cite>{{{ citation }}}</cite>
        </blockquote>
    </div>
</section>
{{/ testimonial }}
