<section class="l-premiere">
	{{> molecules-block-premiere(styleModifier.block.text:"blue") }}
	<div class="g g-2up">
		<div class="gi">
			{{> molecules-block-listing(styleModifier.block.parent:"blue") }}
		</div>
		<div class="gi">
			{{> molecules-block-listing(styleModifier.block.parent:"is-closed blue",expandable:true) }}
		</div>
	</div>
	<div class="text">
        <p>
            <a href="{{ url }}" class="oomph">{{ listing.link }}</a><br />
            {{ listing.description }}
        </p>
        <p>
            <a href="{{ url }}" class="oomph">{{ listing.link }}</a><br />
            {{ listing.description }}
        </p>
    </div>
</section>