#portal-searchbox {
    font-size: $font-size-xs !important;
    margin: 0;
    padding: 0;
    z-index: 970;

    .LSBox {
        background-color: $lynn-gray-10;
        padding: $space;
    }

    &.js-enabled.is-closed {
        display: none;
    }

    &.js-enabled.is-open {
        @include bp-max(m) {
            .LSBox {
                width: 100%;
            }
            #searchGadget {
                width: 75%;
            }
            .searchButton {
                width: 25%;
            }
        }

        @include bp-min(m) {
            .LSBox {
                float: right;
            }
        }

        @include bp-max(l) {
            position: fixed;
            left: 0;
            top: 5rem;
            width: 100%;
        }        

        @include bp-min(l) {
            position: absolute;
            right: 0;
            top: 3rem;
        }

        &.fixed {
            position: fixed;
            left: 0;
            top: 5rem;
            width: 100%;
        }
    }
}


#searchGadget {
    color: $lynn-gray-web;
    width: 130px;
}
.livesearchContainer {
        background-color: $lynn-gray-10 !important;
        color: $lynn-gray-web;
        border: none;
        font-family: $font;

    }
#livesearchLegend {display: none;}
.LSIEFix {background-color: $lynn-gray-10 !important;}
.LSRow {
        border: none;
        padding: 1em;
    }
.LSRow a {
        font-weight: normal;
        text-decoration: underline;
    }
.LSRow img {vertical-align: middle;}
.LSRow .discreet {
        color: $lynn-gray-web;
        float: right;
    }
.LSRow .LSDescr {
    color: $lynn-gray-web;
    margin-left: 0;
}
.LSResult {z-index: 500;}