{{# list }}
<ol class="{{ styleModifier }}">
	{{# items }}
	<li class="{{ styleModifier }}">
        {{^ url }}{{ title }}{{/ url }}
        {{# url }}<a href="{{ url }}">{{ title }}</a>{{/ url }}   
    </li>
	{{/ items }}
</ol>
{{/ list }}
