<div class="slider-container">
    <div class="flexslider">
        <ul class="slides">
            <li class="slide">
                {{> atoms-paragraph }}
            </li>
            <li class="slide">
                {{> molecules-card }}
            </li>
            <li>
                {{> molecules-figure-with-caption }}
            </li>
        </ul>
    </div>
</div>