<div class="rgallery {{ styleModifier.rgallery.parent }}">
	<figure class="image-wrapper">
		<img src="../../images/fpo_580x250.png" class="image" />
		<figcaption class="image-caption">
			Caption
		</figcaption>
	</figure>
	<div class="rgallery-nav">
		<span class="nav-prev">Previous</span>
		<span class="nav-next">Next</span>
	</div>
</div>