<video class="{{ video.class }}" {{ video.options }} poster="{{ img.video.src }}">
    {{# video-sources }}
    <source src="{{ video.src }}" type="{{ video.type }}">
    {{/ video-sources }}
    Your browser does not support the video tag.
</video>