{{# media }}
<div class="{{ css-prefix }}media {{ styleModifier }}">
    <div class="{{ css-prefix }}media__figure">
        {{> atoms-square }}
    </div>
    <div class="{{ css-prefix }}media__caption">
        {{> molecules-tile }}
    </div>
</div>
{{/ media }}
