{{# card }}
<div class="{{ css-prefix }}card {{ styleModifier }}" {{# schema }}itemscope="{{ itemscope }}" itemtype="{{ itemtype }}" itemprop="{{ itemprop }}"{{/ schema }}>
    <div class="{{ css-prefix }}card-content">
        <div class="{{ css-prefix }}card__figure">
            {{# thumbnail }}
            {{> atoms-thumbnail }}
            {{/ thumbnail }}
            {{^ thumbnail }}
            {{> atoms-square }}
            {{/ thumbnail }}
        </div>
        <div class="{{ css-prefix }}card__caption">
            {{^ type }}
            {{> molecules-tile }}
            {{/ type }}

            {{# type }}

            {{# isNews }}{{> molecules-tile-news-event }}{{/ isNews }}
            {{# isProgram }}{{> molecules-tile-program }}{{/ isProgram }}

            {{/ type }}
        </div>
    </div>
</div>
{{/ card }}
