<div class="demo lynn-grid lynn-l-wrap">
    <div class="lynn-gi lynn-l-size--1-of-4">.lynn-l-size--1-of-4</div>
    <div class="lynn-gi lynn-l-size--1-of-4">.lynn-l-size--1-of-4</div>
    <div class="lynn-gi lynn-l-size--1-of-4">.lynn-l-size--1-of-4</div>
    <div class="lynn-gi lynn-l-size--1-of-4">.lynn-l-size--1-of-4</div>
</div>

<div class="demo lynn-grid lynn-l-wrap">
    <div class="lynn-gi lynn-l-size--2-of-4">.lynn-l-size--2-of-4</div>
    <div class="lynn-gi lynn-l-size--2-of-4">.lynn-l-size--2-of-4</div>
</div>

<div class="demo lynn-grid lynn-l-wrap">
    <div class="lynn-gi lynn-l-size--3-of-4">.lynn-l-size--3-of-4</div>
    <div class="lynn-gi lynn-l-size--1-of-4">.lynn-l-size--1-of-4</div>
</div>
