/*------------------------------------*\
    $ICONS
\*------------------------------------*/

/* Icon Font */
@font-face {
    font-family: 'icons';
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Font replacement icons */
%icon {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Background replacement icons */
/*~ Social Media ~*/
%icon-social {
    background-image: url('http://static.lynn.edu/logos/social/web/social-icons-36px.png');
    background-size: cover;
    content: "";
    display: inline-block;
    height: 36px;

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
        background-image: url('http://static.lynn.edu/logos/social/web/social-icons-72px.png');
    }
}

%icon-facebook {
    @extend %icon-social;
    background-position: -45px 0;
    width: 36px;
}

%icon-instagram {
    @extend %icon-social;
    background-position: -82px 0;
    width: 36px;
}

%icon-linkedin {
    @extend %icon-social;
    background-position: -119px 0;
    width: 36px;
}

%icon-twitter {
    @extend %icon-social;
    background-position: 0 0;
    width: 44px;
}

%icon-youtube {
    @extend %icon-social;
    background-position: -156px 0;
    width: 51px;
}






%icon-android {
    @extend %icon;
    content: "\29";
}
%icon-apple {
    @extend %icon;
    content: "\2a";
}
%icon-arrow-left {
    @extend %icon;
    content: "\23";
}
%icon-arrow-right {
    @extend %icon;
    content: "\24";
}
%icon-bubble {
    @extend %icon;
    content: "\25";
}
%icon-envelope {
    @extend %icon;
    content: "\2b";
}

%icon-feed {
    @extend %icon;
    content: "\27";
}
%icon-google-plus {
    @extend %icon;
    content: "\67";
}

%icon-menu {
    @extend %icon;
    content: "\21";
}
%icon-play {
    @extend %icon;
    content: "\61";
}
%icon-pinterest {
    @extend %icon;
    content: "\70";
}
%icon-podcast {
    @extend %icon;
    content: "\26";
}
%icon-search {
    @extend %icon;
    content: "\73";
}
%icon-stumbleupon {
    @extend %icon;
    content: "\75";
}
%icon-tag {
    @extend %icon;
    content: "\28";
}
%icon-tumblr {
    @extend %icon;
    content: "\6d";
}


%triangle {
    @extend %icon;
    content: "\61";
    display: inline-block;
}
%triangle-down {
    @extend %triangle;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
%triangle-left {
    @extend %triangle;

    -webkit-transform: rotate(180deg) translateY(-1px);
    -moz-transform: rotate(180deg) translateY(-1px);
    -ms-transform: rotate(180deg) translateY(-1px);
    -o-transform: rotate(180deg) translateY(-1px);
    transform: rotate(180deg) translateY(-1px);
}
%triangle-right {
    @extend %triangle;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
%triangle-up {
    @extend %triangle;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    @extend %icon;
    
    content: attr(data-icon);
}


/* Icon Classes */
.icon-android:before {
    @extend %icon-android;
}
.icon-apple:before {
    @extend %icon-apple;
}
.icon-arrow-left:before {
    @extend %icon-arrow-left;
}
.icon-arrow-right:before {
    @extend %icon-arrow-right;
}
.icon-bubble:before {
    @extend %icon-bubble;
}
.icon-envelope:before {
    @extend %icon-envelope;
}
.icon-facebook:before {
    @extend %icon-facebook;
}
.icon-feed:before {
    @extend %icon-feed;
}
.icon-google-plus:before {
    @extend %icon-google-plus;
}
.icon-instagram:before {
    @extend %icon-instagram;
}
.icon-linkedin:before {
    @extend %icon-linkedin;
}
.icon-menu:before {
    @extend %icon-menu;
}
.icon-play:before {
    @extend %icon-play;
}
.icon-pinterest:before {
    @extend %icon-pinterest;
}
.icon-podcast:before {
    @extend %icon-podcast;
}
.icon-search:before {
    @extend %icon-search;
}
.icon-stumbleupon:before {
    @extend %icon-stumbleupon;
}
.icon-tag:before {
    @extend %icon-tag;
}
.icon-triangle-down:before {
    @extend %triangle-down;
}
.icon-triangle-left:before {
    @extend %triangle-left;
}
.icon-triangle-right:before {
    @extend %triangle-right;
}
.icon-triangle-up:before {
    @extend %triangle-up;
}
.icon-tumblr:before {
    @extend %icon-tumblr;
}
.icon-twitter:before {
    @extend %icon-twitter;
}
.icon-youtube:before {
    @extend %icon-youtube;
}




/* Treatments */
a[class^="icon-"], a[class*=" icon-"] {
    text-decoration: none;
}