/*----- Modifiers -----*/

/* Border */
.border {
	@include border;
}

.no-border {
	border: none;
}

/* Clear */
.clear-both {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

/* Clearfix */
.cf {
    *zoom: 1;
}
.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Colors */
.color-lynn-blue {
    color: $lynn-blue;
}

.color-blue {
    color: $accent-blue;
}

.color-green {
    color: $accent-green;
}

.color-orange {
    color: $accent-orange;
}

/* Discrete */
.discrete {
    font-size: $font-size-xs;
}

/* Floats */
.left {
	float: left;
	padding: 0 $pad $pad 0;
}

.right {
	float: right;
	padding: 0 0 $pad $pad;
}

/* Hide */
.hide-max-s {
	@include bp-max($bp-s) {
		display: none;
	}
}

.hide-max-m {
	@include bp-max($bp-m) {
		display: none;
	}
}

.hide-max-l {
	@include bp-max($bp-l) {
		display: none;
	}
}

.hide-max-xl {
	@include bp-max($bp-xl) {
		display: none;
	}
}

.hide-min-s {
	@include bp-min($bp-s) {
		display: none;
	}
}

.hide-min-m {
	@include bp-min($bp-m) {
		display: none;
	}
}

.hide-min-l {
	@include bp-min($bp-l) {
		display: none;
	}
}

.hide-min-xl {
	@include bp-min($bp-xl) {
		display: none;
	}
}

/* Inversion */
@each $key in map_keys($inverted-color-map) {
	$bg: map-get(map-get($inverted-color-map, $key), "background");
	$color: map-get(map-get($inverted-color-map, $key), "color");
	$hover: map-get(map-get($inverted-color-map, $key), "hover");

	@if $key == "default" {
		@at-root %inverted {
			@include inverted($bg, $color, $hover);
		}
	}

	@else {
		@at-root %inverted-#{$key} {
			@include inverted($bg, $color, $hover);
		}
	}
}
.inverted {
	@include inverted-all;
}

/* Oomph Text */
.oomph {
	font-size: $font-size-l;
}

/* Padding */
.no-pad {
	padding: 0;
}

/* Text Alignment */
%text-center {
	text-align: center;
}

%text-left {
	text-align: left;
}

%text-right {
	text-align: right;
}

.text-center {
	@extend %text-center;
}

.text-left {
	@extend %text-left;
}

.text-right {
	@extend %text-right;
}

/* Alignment shift (bp-mobile-desktop) */
@each $key in map_keys($breakpoints) {
	$bp: map-get($breakpoints, $key);

	.align-#{$key}-center-left {
		@include bp-max($bp){
			text-align: center;
		}
		@include bp-min($bp){
			text-align: left;
		}
	}

	.align-#{$key}-center-right {
		@include bp-max($bp){
			text-align: center;
		}
		@include bp-min($bp){
			text-align: right;
		}
	}

	.align-#{$key}-left-center {
		@include bp-max($bp){
			text-align: left;
		}
		@include bp-min($bp){
			text-align: center;
		}
	}

	.align-#{$key}-left-right {
		@include bp-max($bp){
			text-align: left;
		}
		@include bp-min($bp){
			text-align: right;
		}
	}

	.align-#{$key}-right-center {
		@include bp-max($bp){
			text-align: right;
		}
		@include bp-min($bp){
			text-align: center;
		}
	}

	.align-#{$key}-right-left {
		@include bp-max($bp){
			text-align: right;
		}
		@include bp-min($bp){
			text-align: left;
		}
	}
}

/* Tint (background) */
.tint {
	background-color: tint($lynn-gray, 90%);
}

/* Widths */
.full-width {
	width: 100%;
}