/**~
 *  _text.scss
~**/

// Position helpers
.#{$css-prefix}text-align {
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}


// Size helpers
.#{$css-prefix}text-size {
    &--base {
        font-size: $font-size--rem;

    }
}
