.font-size-xxs {
	font-size: $font-size-xxs;
}

.font-size-xs {
	font-size: $font-size-xs;
}
.font-size-s {
	font-size: $font-size-s;
}

.font-size-m {
	font-size: $font-size-m;
}

.font-size-l {
	font-size: $font-size-l;
}

.font-size-xl {
	font-size: $font-size-xl;
}

.font-size-xxl {
	font-size: $font-size-xxl;
}

.font-size-jumbo {
	font-size: $font-size-jumbo;
}