/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.button {
    background: $orange-accent;
    border: 0;
    color: $white;
    display: inline-block;
    font-weight: bold;
    padding: $pad-quarter $pad;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    
    @include background-image(linear-gradient(bottom, $orange-accent, $orange-secondary));
    @include border-radius(3px);
    @include box-shadow(rgba($black, .15), 0 2px 3px);
    
    &:hover, &:focus {
        @include background-image(linear-gradient(bottom, $orange-accent, $orange-accent));
        
        color: $white;
    }
    
    &:active {
        @include background-image(linear-gradient(bottom, $orange-secondary, $orange-accent));
    }
}

.button-large {
    padding: $pad-half $pad-double;
    
    @include font-size(1.25)
}
