/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.header {
    @extend %l-container;

    padding-top: $pad;
    position: relative;
    
    @include bp-max(l) {
        height: 288px;
        
        > h1 {
            text-align: center;
        }
    }
    
    @include bp-min(l) {
        height: 144px;
        
        > h1 {
            display: inline-block;
            text-align: left;
        }
    }
    
    @include bp-min(xl) {
        height: 108px;
    }
}

.site-logo {
    height: 78px;
    width: 188px;
    
    span {
        background: transparent url('../images/lynn-masthead-hinted.gif') no-repeat left top;
    }
}

.search-form {
    overflow: hidden;
    padding: $pad-quarter;
    width: $w-s;
    
    @include font-size(.75);
    
    @include bp-max(l) {
        margin: 0 auto;
    }
    
    @include bp-min(l) {
        float: right;
        margin: 0;
    }
    
    input[type=submit], button, .button {
        height: 100%;
        margin: 0;
        padding: $pad-half $pad;
    }
    
    
}

/*
.header {
	background: $white;
	padding: 0;
	border-bottom: 1px solid #dbdbdb;
	@extend .lc;
}

.logo {
	float: left;
	max-width: 8rem;
	margin: 0.4rem;

	@media all and (min-width: $bp-med) {
		max-width: 9rem;
	}
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}
*/
