/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

// Main Navigation
.nav-main {
    background-color: $gray;
    clear: both;
    cursor: pointer;
    overflow: hidden;

    li {
        @include font-size(1.5);
        
        li {
            @include font-size(1.25);
            
            li {
                @include font-size(1);
            }
        }
        
        &:last-child a {
            border-bottom: none;
        }
    }
    
    a {
        border-bottom: {
            color: $white;
            style: solid;
            width: 1px;
        }
        color: $white;
        display: block;
        margin: 0 $pad;
        padding: $pad/4 0;
        
        &:hover {
            color: tint($black, 75%);
        }
    }
    
    .selected:before {
        color: $black;
        content: ">";
        position: absolute;
        margin-left: -1em;
        width: 1em;
        text-shadow: none;
        font-size: .9em;
        text-align: center;
    }
    
    .submenu {
        padding-left: $pad;
        
        a {
            border-bottom-color: tint($black, 75%);
        }
    }
    
    @media screen and (max-width: 767px) {
        margin: 0 auto;
        width: 240px;
        
        &:before {
            background: transparent url(../images/menu.png) no-repeat 10px center;
            border-bottom: {
                color: $black;
                style: solid;
                width: 1px;
            }
            color: $white;
            content: "Menu";
            display: block;
            padding: $space $pad $space $pad-double;
        }
        
        li {
            display: block;
            
            a {
                margin: 0 $pad-half;
                padding: $pad-half $pad-quarter;
            }
        }
        
        &.is-closed li {
            display: none;
        }
        
        .selected:before {
            display: none;
        }
        
        .submenu {
            padding-left: $pad-half;
        }

        // Only reposition if javascript is enabled
        &.js-enabled {
            left: 50%;
            margin-left: -120px;
            position: absolute;
            top: 0;
        }
    }
}


// Lynn.edu

/*.nav-main {
    background-color: tint($green, 90%);
    
    a {
        border-bottom-color: tint($green, 50%);
        color: $blue-lynn;
        
        &:hover {
            background-color: tint($green, 75%);
            color: tint($blue-lynn, 25%);
        }
    }
    
    .submenu a {
        border-bottom-color: tint($green, 75%);
    }
}*/


// Take Action
.take-action {
    border-top: 1px solid $blue-lynn;
    
    li {
        border-bottom: {
            color: $blue-lynn;
            style: solid;
            width: 1px;
        }
        position: relative;
        
        &:hover {
            background: tint($gray, 80%);
            
            a:after {
                @include triangle(right, tint($gray, 80%));
            }
        }
    }
    
    a {
        color: $gray;
        display: block;
        padding: $pad $pad-half $pad $pad-double;
        
        strong {
            color: $blue-lynn;
            font: {
                family: $font-helveticaneue;
                weight: normal;
            }
            line-height: 1em;
            
            @include font-size(1.5);
        }
        
        &:after, &:before {
            content: "";
            position: absolute;
            top: $space-and-quarter;
        }
        
        &:after {
            left: .4em;
            
            @include triangle(right, $white);
        }
        
        &:before {
            left: .5em;
            
            @include triangle(right, $green-accent);
        }
    }
}








/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	
	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light-2;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: right;
		clear: none;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}
