.tabs {
	border-bottom: 1px solid $gray;
	margin: $space 0;

	.tab-list {
		display: table;
    	margin-bottom: -1px;
    	padding: 0 $pad;
    	width: 100%;

    	@include bp-max(m) {
    		padding: 0 $pad-quarter;
    	}
	}

	.tab-item {
		display: table-cell;
	    padding: 0 $pad;
	    text-align: center;

	    @include bp-max(m) {
	    	font-size: $font-size-xs;
    		padding: 0 $pad-quarter;
    	}
	}

	.tab-link {
		background: tint($gray, 90%);
		border: 1px solid $gray;
		color: $blue-lynn;
	    display: block;
	    padding: $pad-half;

	    &:hover, &:focus {
			background: $gray-light-3;
		}

		&.active {
			background: $white;
			border-bottom-color: $white;
		}
	}
}