/**~
 *  _breakpoints.scss
 *
 *  Web specific breakpoint variables
 *
~**/

// Shorthand (single usage)
$bp-s:      map-get($widths, s) + em;
$bp-m:      map-get($widths, m) + em;
$bp-l:      map-get($widths, l) + em;
$bp-xl:     map-get($widths, xl) + em;
$bp-xxl:    map-get($widths, xxl) + em;
$bp-jumbo:  map-get($widths, jumbo) + em;


// Max column widths per breakpoint
$layout: (
    "s": (
        "breakpoint": $bp-s,
        "columns": 2,
    ),
    "m": (
        "breakpoint": $bp-m,
        "columns": 2,
    ),
    "l": (
        "breakpoint": $bp-l,
        "columns": 4,
    ),
    "xl": (
        "breakpoint": $bp-xl,
        "columns": 6,
    ),
    "xxl": (
        "breakpoint": $bp-xxl,
        "columns": 8,
    ),
    "jumbo": (
        "breakpoint": $bp-jumbo,
        "columns": 16,
    ),
);
