/**~
 *  _font.scss
 *
 *  Font variables
 *
~**/


@import url(//fast.fonts.net/cssapi/4502be6a-d4d2-41ad-988f-72e9420f9860.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


// Base
$font-family-base: 'Neue Helvetica W01',Helvetica,Arial,sans-serif;
$font-size-base: 16px;


// Fonts
$font: $font-family-base;


// REM - Use for modules on the page
$font-size--rem:                    map-get($sizes, one) + rem;
$font-size-three-fourths--rem:      map-get($sizes, three-fourths) + rem;
$font-size-seven-eights--rem:       map-get($sizes, seven-eighths) + rem;
$font-size-one-and-quarter--rem:    map-get($sizes, one-and-quarter) + rem;
$font-size-one-and-half--rem:       map-get($sizes, one-and-half) + rem;
$font-size-double--rem:             map-get($sizes, double) + rem;
$font-size-triple--rem:             map-get($sizes, triple) + rem;


// EM - Use for text elements on the page
$font-size--em:                     map-get($sizes, one) + em;
$font-size-three-fourths--em:       map-get($sizes, three-fourths) + em;
$font-size-seven-eights--em:        map-get($sizes, seven-eighths) + em;
$font-size-one-and-quarter--em:     map-get($sizes, one-and-quarter) + em;
$font-size-one-and-half--em:        map-get($sizes, one-and-half) + em;
$font-size-double--em:              map-get($sizes, double) + em;
$font-size-triple--em:              map-get($sizes, triple) + em;

                  
// PX - Fallback
$font-size--px: (map-get($sizes, one) * $font-size-base);
$font-size-three-fourths--px: (map-get($sizes, three-fourths) * $font-size-base);
$font-size-seven-eights--px: (map-get($sizes, seven-eighths) * $font-size-base);
$font-size-one-and-quarter--px: (map-get($sizes, one-and-quarter) * $font-size-base);
$font-size-one-and-half--px: (map-get($sizes, one-and-half) * $font-size-base);
$font-size-double--px: (map-get($sizes, double) * $font-size-base);
$font-size-triple--px: (map-get($sizes, triple) * $font-size-base);


// Weight
$font-weight-bold:      700;
