<div class="card card_news {{ card.styleModifier }}" itemscope itemtype="http://schema.org/NewsArticle">
	<div class="card-content">
		{{# card.image }}
		<div class="card-image">
			<a href="{{ url }}" itemprop="url">{{> atoms-landscape }}</a>
		</div>
		{{/ card.image }}
		<div class="card-details">
			<div class="card-text">
				{{> molecules-heading-group }}
				{{# card.description }}
				<div class="description" itemprop="description">
					{{{ card.description }}}
					<span class="paragraph-end"></span>
				</div>
				{{/ card.description }}
			</div>
			{{# card.dateline }}
			<div class="card-dateline">
				{{> atoms-date }}
			</div>
			{{/ card.dateline }}

			{{# card.action }}
			<div class="card-action">
				{{> atoms-text-link }}
			</div>
			{{/ card.action }}
		</div>

	</div>
</div>