<div id="lynn-ela">

<!-- # HEADER -->
<div id="masthead" class="lynn-p-around--one" style="background-color: rgb(255,255,255); position: fixed; width: 100%; z-index: 999;">
    <div class="lynn-l-container--xxl lynn-l-container--center" style="position: relative;">
        {{> organisms-header }}
    </div>
</div>
<!-- / HEADER -->

<!-- # HERO -->
<section class="hero hero-bg-early-learning-home">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="hero__content">
                    <h1 class="white">Prepare young learners for kindergarten</h1>
                    <p class="white"><strong>(and have FUN!)</strong></p>
                    <p class="white lynn-m-vertical--double"><strong>Technology, tools and tutors for families and pre-school teachers</strong></p>
                    <div class="spacer-2"></div>
                    <div class="subnav-select">
                        <div class="subnav-select__handle p-v-2 p-h-2">In this section</div>
                        <div class="subnav-select__dropdown" style="display: none;">
                            <ul>
                                <li><a href="">Lynn Early Learning</a></li>
                                <li><a href="">ABC Mouse</a></li>
                                <li><a href="">LanguaMetrics</a></li>
                                <li><a href="">Character Education</a></li>
                                <li><a href="">Assessment</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / HERO -->


<!-- # CTA -->
<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <ul class="flyout">
                <li>
                    <a href="#">More info</a>
                </li>
                <li>
                    <a href="#">Subscribe</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- / CTA -->


<div class="{{ css-prefix }}l-container--xl {{ css-prefix }}l-container--center {{ css-prefix }}p-horizontal--double">
    {{> molecules-breadcrumbs }}
</div>

<!-- # PANEL INTRO -->
{{# panels.intro }}
<div class="{{ css-prefix }}panel lynn-m-vertical--quadruple">
    <div class="{{ css-prefix }}panel__content lynn-p-horizontal--double lynn-p-vertical--quadruple">
        <div class="lynn-panel__heading">
            <div class="lynn-tile lynn-l-container--xl lynn-l-container--center">
                <div class="lynn-tile__title">Connect, engage, learn</div>
                <div class="lynn-tile__detail">Lynn Early Learning Academy brings together awarding-winning programs that guide parents and children on their journey to kindergarten readiness. Digital skills set young learners on a path to success&mdash;and the path begins here.</div>
            </div>
        </div>
    </div>
</div>
{{/ panels.intro }}
<!-- / PANEL INTRO -->


<!-- # TESTIMONIAL -->
{{# testimonials.0 }}
<div style="background-color: rgba(99, 102, 106, 0.1);">
{{> molecules-media-testimonial }}
</div>
{{/ testimonials.0 }}
<!-- / TESTIMONIAL -->

<div class="{{ css-prefix }}panel">
    <div class="{{ css-prefix }}panel__content">
    {{# billboards }}
        {{> molecules-media }}
    {{/ billboards }}
    </div>
</div>


<!-- # PANEL 2 -->
<div class="{{ css-prefix }}panel lynn-m-vertical--quadruple">
    <div class="{{ css-prefix }}panel__content lynn-p-vertical--quadruple">
        <div class="lynn-panel__heading">
            <div class="lynn-tile lynn-l-container--l lynn-l-container--center">
                <div class="lynn-tile__title">Meet our Lynn Early Learning Academy puppets &hellip;</div>
            </div>
        </div>
        <div class="lynn-panel__content">
            <div class="lynn-l-container--xl lynn-l-container--center">
                <div class="lynn-grid lynn-l-wrap">
                    {{# puppets }}
                    <div class="lynn-gi lynn-gi--padded lynn-l-size--1-of-1 lynn-l-size-m--1-of-2 lynn-l-size-xl--1-of-3" style="padding: 1rem;">
                        {{> organisms-card-peekaboo }}
                    </div>
                    {{/ puppets }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / PANEL 2 -->


{{> organisms-next-step }}




</div>


<script src="http://littledigitalco.biz/lynn_dev/assets/js/dist/jquery-1.11.1.js" type="text/javascript"></script>






<script>
var nav = $('#masthead');
var scrolled = false;

console.log('hello 1');
    $(window).scroll(function () {
console.log('hello 2');
        if (300 < $(window).scrollTop() && !scrolled) {
            $('.banner ul.flyout').animate({marginRight: '-150px'});
            scrolled = true;
        }
        if (screen.width > 480) {
            if (300 > $(window).scrollTop() && scrolled) {
                $('.banner ul.flyout').animate({marginRight: '0px'});
                scrolled = false;
            }
        }
    });
</script>