<div class="l-page">
    {{> organisms-header }}
{{# banner }}
    {{> molecules-banner }}
{{/ banner }}

{{# panels }}
    <div class="l-panel {{ styleModifier }}">
        <div class="l-page-container">
            {{# label }}
            <h1 class="panel-title headline">{{.}}</h1>
            {{/ label }}
    
            {{# news }}
            <div class="l-panel-inner">
                {{# items }}
                    {{# isFeature }}
                    <div class="{{ styleModifier }}">{{> molecules-news }}</div>
                    {{/ isFeature }}
                    {{# isThumbs }}
                    {{> organisms-news-strip-thumbnails }}
                    {{/ isThumbs }}
                {{/ items }}
            </div>
            {{/ news }}

            {{# snippets }}
            <div class="g g-4up">
                {{# items }}
                <div class="gi">
                    {{> molecules-card }}
                </div>
                {{/ items }}
            </div>
            {{/ snippets }}

            {{# social }}
            {{> molecules-social }}
            {{/ social }}

        </div>
    </div>
{{/ panels }}


<nav id="nav-main" class="nav-flyout nav_gray js-fitwindow">
    <ul>
        <li><a href="#" class="menu-item">Apply</a></li>
        <li><a href="#" class="menu-item">Learn</a></li>
        <li><a href="#" class="menu-item">Live</a></li>
        <li><a href="#" class="menu-item">Work</a></li>
        <li><a href="#" class="menu-item">Engage</a></li>
        <li><a href="#" class="menu-item">Connect</a></li>
        <li><a href="#" class="menu-item">Give</a></li>
        <li><a href="#" class="menu-item">Partner</a></li>
    </ul>
</nav>
{{> organisms-footer }}
</div>