<link rel="stylesheet" title="iLynn" href="../../css/ilynn.css" media="all" />

<div class="l-page-container">
	<header class="header" role="banner">
	    <h1>
	        <a href="#" class="image-replace ilynn-logo">
	            <span></span>
	            College reimagined
	        </a>
	    </h1>
	</header>
</div>
<div class="l-hero innovative"> </div>
<div class="l-page nav-container">
	<nav class="js-sticky nav-sticky">
		<div class="nav-wrapper l-page-container">
	        <ul class="menu">
	            <li class="menu-item"><a class="button tracker" href="http://www.lynn.edu/requestinfo">Request information</a></li>
	            <li class="menu-item"><a class="button tracker" href="http://www.lynn.edu/visit">Visit Lynn</a></li>
	            <li class="menu-item"><a class="button tracker" href="http://www.lynn.edu/apply">Apply now</a></li>
	        </ul>
		</div>
    </nav>
</div>
<article role="main">
	<div class="l-page-container max-w">
		<header class="header">
			<h1>Introducing iLynn</h1>
		</header>
        <div class="text">
    		<p>
    			an innovative, new iPad-powered degree for mature students with work, family and other obligations. Take classes online, on campus or both, and enjoy all that a private university has to offer at a (better than) state university price.
    		</p>
        </div>
	</div>
	<div class="l-row-tout tint">
		<div class="l-row-inner l-page-container">
			<div class="l-sidebar">
				<div class="inner">
					Nationally recognized in <a href="http://lynn.edu/about-lynn/news-and-events/news/lynn-university-named-in-u.s.-news-and-world-reports-2015-best-online-programs"><i>U.S. News and World Report's</i> Best Online Programs</a>.
				</div>
			</div>
			<div class="l-main">
				<div class="inner">
					<div class="text">
						<div class="text-inner">
							Lynn provides mobile access to rich interactive content. Watch a brief demonstration of how your iPad can also help you track assignments, study and connect with professors.
						</div>
					</div>
                    {{> molecules-video }}
				</div>
			</div>
		</div>
	</div>
	<section class="l-page-container max-w">
		<h1>It's time to finish what you started</h1>
		<div class="text">
			<p>Going back to school to complete your degree can seem overwhelming—but not at Lynn. Right from the start, you’ll find helpful people and a simple approach, including:</p>
            <ul>
                <li>Accelerated terms</li>
                <li>Easy transfer of college and certified work experience credits</li>
                <li>Highly individualized experience with academic advising</li>
                <li>Professional coaching services</li>
                <li>SAT/ACT scores not required</li>
            </ul>
		</div>
		<div class="accordion">
			<section class="js-expand ex-content">
				<header class="ex-handle tint triangle">
					<h2 class="sectionhead-1">Learn more about finishing your degree</h2>
				</header>
				<div class="ex-panel text">
					<p>Did you put your undergraduate education on hold for work, family or other obligations? Our affordable, flexible and high-quality Bachelor of Arts in Liberal Arts program makes it easy to finish.</p>
					<p>The <a href="/academics/colleges/arts-and-sciences/programs/ba-liberal-arts-evening">B.A. in Liberal Arts</a> program emphasizes critical thinking and creative problem-solving—skills you can apply in your professional life right away. It blends new ideas and technologies to make learning more dynamic than you’ve ever imagined. And because the B.A. in Liberal Arts is so well-rounded, <strong>you can easily transfer the course credits you’ve already earned</strong> and finish that much faster.</p>
				</div>
			</section>
		</div>
	</section>
	<section class="l-page-container max-w">
		<h1>Save time and money</h1>
		<div class="text">
            <p>Earn your bachelor’s degree for as little as $35,400. Spend less than the average state university tuition and feel good about investing in your future. See complete <a href="/admissions/tuition-and-aid/costs/evening-undergraduate">tuition and fee</a> information.</p>
    		<p>What you’ve learned outside the classroom is extremely valuable. At Lynn, you can turn your professional experience into academic credit with an online LearningCounts course.</p>
        </div>
		<div class="accordion">
			<section class="js-expand ex-content">
				<header class="ex-handle tint triangle">
					<h2 class="sectionhead-1">Learn more about LearningCounts</h2>
				</header>
				<div class="ex-panel text">
					<h3 class="sectionhead-2">Eligible experiences</h3>
					<p>Develop a learning portfolio featuring your professional experience, and present it to earn certified work experience credits. Your portfolio can feature:</p>
					<ul style="margin-bottom: 1.5em;">
						<li>Work experience and job skills</li>
						<li>Employer training programs</li>
						<li>Military service</li>
						<li>Independent study</li>
						<li>Volunteer or community service</li>
						<li>Other training and job skills</li>
					</ul>
					<h3 class="sectionhead-2">Tuition and credits</h3>
					<p>LearningCounts allows you to translate your professional experience into up to 30 academic credits—which is 25 percent of your entire degree program.</p>
					<p>The LearningCounts class is self-paced, available online at a special tuition rate which is inclusive of one portfolio review. After completing the course, you may submit additional portfolios for additional work experience credit. Each portfolio you submit must correspond to course offered by Lynn or another regionally accredited institution.</p>
					<table class="grid">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Credits</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>LearningCounts course and first portfolio</td>
                                <td>3 credits</td>
                                <td>$695 (special rate for Lynn students)</td>
                            </tr>
                            <tr>
                                <td>Additional portfolios</td>
                                <td>Up to 3 credits each</td>
                                <td>$125 each</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>You may earn up to 30 credits for just $4,070.</p>
                    <p>Learn more at <a href="http://www.learningcounts.org/" target="_blank">www.learningcounts.org</a>.</p>
                </div>
            </section>
        </div>
	</section>
	<section class="l-page-container max-w">
		<h1>iPad-powered degree program majors</h1>
		<div class="g g-3up">
			<div class="gi">
				<h2 class="sectionsubhead">College of Arts and Sciences</h2>
				<ul>
                    <li><a href="/academics/colleges/arts-and-sciences/programs/ba-criminal-justice-evening">Criminal Justice</a></li>
                    <li><a href="/academics/colleges/arts-and-sciences/programs/bs-psychology-evening">Psychology</a></li>
                    <li><a href="/academics/colleges/arts-and-sciences/programs/ba-liberal-arts-evening">Liberal Arts</a></li>
                </ul>
			</div>
			<div class="gi">
				<h2 class="sectionsubhead">College of Business and Management</h2>
				<ul>
                    <li><a href="/academics/colleges/aeronautics/programs/bs-aviation-management-evening">Aviation Management</a></li>
                    <li><a href="/academics/colleges/business-and-management/programs/bs-business-administration-evening">Business Administration</a></li>
                    <li><a href="/academics/colleges/business-and-management/programs/bs-hospitality-management-evening">Hospitality Management</a></li>
                </ul>
			</div>
			<div class="gi">
				<h2 class="sectionsubhead">College of International Communication</h2>
				<ul>
                    <li><a href="/academics/colleges/international-communication/programs/ba-communication-and-media-evening">Communication and Media</a></li>
                </ul>
			</div>
		</div>
	</section>
</article>
<footer class="footer l-page-container">
    <div class="g">
        <div class="gi gi-2-3">
            <div class="lynn-seal">
                <div class="text">
                    <a href="#" title="Map and Directions">3601 N. Military Trail, Boca Raton, FL 33431</a><br />1-561-237-7000 or 1-800-888-5966
                </div>
                <nav class="nav-footer">
                    <ul class="inline-list">
                        <li><a href="http://www.lynn.edu/accreditation-and-equal-opportunity">Accreditation and equal opportunity</a></li>
                        <li><a href="http://www.lynn.edu/about-lynn/campus-directory">Campus Directory</a></li>
                        <li><a href="http://www.lynn.edu/employment-opportunities">Employment</a></li>
                        <li><a href="http://www.lynn.edu/contact-info">Feedback</a></li>
                        <li><a href="http://www.lynn.edu/about-lynn/university-policies">Policies</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="gi gi-1-3">
            <div class="apple">
                <div class="text">
                    Recognized by Apple as a distinguished school for innovation, leadership, and educational excellence.
                </div>
            </div>
        </div>
    </div>
</footer>
