<div class="block  {{ styleModifier.block.parent }}">
	{{# isLink }}<a href="{{ url }}" class="block-link">{{/ isLink }}
	<div class="block-inner">
        <div class="block-image">
            {{> atoms-spotlight-580x250 }}
        </div>
        <div class="block-text {{ styleModifier.block.text }}">
            {{ block.text }}
        </div>
    </div>
    {{# isLink }}</a>{{/ isLink }}
</div>