<div class="block  {{ styleModifier }}">
	<!-- a href="{{ url }}" -->
        <div class="block--image">
            {{> atoms-spotlight-580x250 }}
        </div>
        <div class="block--text">
            {{ block.text }}
        </div>
    <!-- /a -->
</div>