<div class="block block_listing {{ styleModifier }}">
	<a href="{{ url }}" class="block-link">
        <div class="block-image">
            {{> atoms-spotlight-580x250 }}
        </div>
        <div class="block-text text">
            <h3 class="h3">{{ block.heading }}</h3>
            {{ block.text }}
        </div>
    </a>

    {{# expandable }}
    <div class="expandable">
    	<div class="ex-handle"> </div>
    	<div class="ex-panel text">
    		<a class="oomph" href="{{ url }}">{{ block.heading }}</a>
    		<ul>
    			<li><a href="{{ url }}">Link 1</a></li>
    			<li><a href="{{ url }}">Link 2</a></li>
    			<li><a href="{{ url }}">Link 3</a></li>
    			<li><a href="{{ url }}">Link 4</a></li>
    		</ul>
    	</div>
    </div>
    {{/ expandable }}
</div>