<div class="block block_listing person {{ styleModifier.block.parent }}" onclick="location.href='{{ url }}'" itemtype="http://schema.org/Person" itemscope="" itemprop="employee">
	<div class="block-link">
        <div class="block-image">
            <img src="{{ img.person.src }}" itemprop="image"/>
        </div>
        <div class="block-text text g g-1up">
            <div class="gi">
                {{> molecules-heading-person }}
            </div>
            
            <div class="gi">
                {{> molecules-contact-point }}
            </div>
            <div class="gi">
            	<a href="{{ url }}" itemprop="url">Full profile&hellip;</a>
            </div>
        </div>
    </div>
</div>