<div class="block">
    <div class="block-image">
        <a href="{{ url }}" class="block-link">{{> atoms-spotlight-580x250 }}</a>
    </div>

    <div class="block-text block_padded g g-2up inverted">
        <a href="{{ url }}" class="gi block-link">
            <h3 class="h3">{{ block.heading }}</h3>
        	<p>{{ block.text }}</p>
        </a>
        <div class="gi text">
			<ul>
    			<li><a href="{{ url }}">Link 1</a></li>
    			<li><a href="{{ url }}">Link 2</a></li>
    			<li><a href="{{ url }}">Link 3</a></li>
    			<li><a href="{{ url }}">Link 4</a></li>
    		</ul>
        </div>
    </div>
</div>
