<div class="text">
	<h1 class="headline">Headline</h1>
	<h2 class="subhead">Subhead</h2>
	<h3 class="sectionhead-1">Section head 1</h3>  
	<h4 class="sectionhead-2">Section head 2</h4>
	<h5 class="sectionsubhead">Section subhead</h5>
</div>