<p>Pull quotes are short excerpts from the presented text. They are used to pull a text passage out of the reader’s flow and give it a more dominant position in the post or the article.</p>
<p>Keep in mind: <span class="pullquote">pull quotes shouldn't be used too often, they shouldn't be too large and they shouldn't be included for the wrong purposes</span>. In most cases an ordinary article should have at most 1-2 pull quotes, otherwise they lose their appeal and the article becomes harder to scan.</p>