<div class="sectionsubhead">Date</div>
<p>{{> atoms-date }}</p>

<div class="sectionsubhead">Date - day of week</div>
<p>{{> atoms-date-day-of-week }}</p>

<div class="sectionsubhead">Time</div>
<p>{{> atoms-time }}<br />{{> atoms-time-timeframe }}</p>

<div class="sectionsubhead">Date and time</div>
<p>{{> atoms-date-time }}</p>