<time datetime="{{ iso.datetime }}" {{# datetime.itemprop }}itemprop="{{ datetime.itemprop }}"{{/ datetime.itemprop }}><span class="month">{{ month.short }}</span> <span class="day">{{ day.digit }}{{ datetime.separator.dy }}</span> {{# year.long }}<span class="year">{{ year.long }}</span>{{/ year.long }} {{{ datetime.separator.dt }}} <span class="time">{{ hour.short }}:{{ minute }} {{ hour.ampm }}</span></time>