<time datetime="{{ iso.date }}" {{# datetime.itemprop }}itemprop="{{ datetime.itemprop }}"{{/ datetime.itemprop }}>{{ month.short }} {{ day.digit }}{{# year.long }}, {{ year.long }}{{/ year.long }}</time>