<time datetime="{{ iso.time }}" {{# datetime.itemprop }}itemprop="{{ datetime.itemprop }}"{{/ datetime.itemprop }}>1:20</time>&ndash;<time datetime="15:30:00-05:00" {{# datetime.itemprop }}itemprop="{{ datetime.itemprop }}"{{/ datetime.itemprop }}>3:30</time> {{ hour.ampm }}