<div class="accordion">
    <section class="expandable">
        <header class="ex-handle">
            Accordion 1
        </header>
        <div class="ex-panel">
            Some content here
        </div>
    </section>
    <section class="expandable is-closed">
        <header class="ex-handle">
            Accordion 2
        </header>
        <div class="ex-panel">
            Some content here
        </div>
    </section>
    <section class="expandable">
        <header class="ex-handle">
            Accordion 3
        </header>
        <div class="ex-panel">
            Some content here
        </div>
    </section>
</div>
