<div class="card {{ card.styleModifier }}" itemscope="{{ card.schema.itemscope }}" itemtype="{{ card.schema.itemtype }}" itemprop="{{ card.schema.itemprop }}">
	<div class="card-content">
		{{# card.hasImage }}
		<div class="card-image">
			<a href="{{ url }}" itemprop="url">
			{{# card.hasImage.headshot }}
				{{> atoms-headshot }}
			{{/ card.hasImage.headshot }}
			{{# card.hasImage.landscape }}
				{{> atoms-landscape }}
			{{/ card.hasImage.landscape }}

			</a>
		</div>
		{{/ card.hasImage }}

		<div class="card-details">
			<div class="card-text">
			{{^ headline.isPerson }}
				{{> molecules-heading-group }}
			{{/ headline.isPerson }}
			{{# headline.isPerson }}
				{{> molecules-heading-person }}
			{{/ headline.isPerson }}

			{{# card.description }}
				<div class="description" itemprop="description">
					{{{ card.description }}}
					<span class="paragraph-end"></span>
				</div>
			{{/ card.description }}

			{{# card.hasContact }}
				{{> molecules-contact-point }}
			{{/ card.hasContact }}
			</div>

			{{# card.dateline }}
			<div class="card-dateline">
				{{^ card.dateline.hasTime }}
				{{> atoms-date }}
				{{/ card.dateline.hasTime }}
				{{# card.dateline.hasTime }}
				{{> atoms-date-time }}
				{{/ card.dateline.hasTime }}
			</div>
			{{/ card.dateline }}

			{{# card.action }}
			<div class="card-action">
				{{^ card.action.isButton }}
				{{> atoms-text-link }}
				{{/ card.action.isButton }}
				{{# card.action.isButton }}
				{{> atoms-button }}
				{{/ card.action.isButton }}
			</div>
			{{/ card.action }}
		</div>

		{{# card.hasExpand }}
		<div class="js-expand">
			<div class="ex-handle menu"></div>
			<div class="ex-panel text">
				<a href="#">Tuition &amp; Aid</a>
			</div>
		</div>
		{{/ card.hasExpand }}

	</div>
</div>
