<div class="l-row {{ styleModifier }}">
    <div class="g g-3up">
        {{# items }}
        <div class="gi">
            {{> molecules-news-thumbnail }}
        </div>
        {{/ items }}
    </div>
</div>